In [1]:
import googlemaps
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")

In [2]:
df1 = pd.read_csv('ScoreModellingRevised.csv')

In [3]:
df1.columns

Index(['Building', 'school_score_1km', 'SchoolDistance', 'school_score_16km',
       'wastemgmt_score_1km', 'wastemgmtDistance', 'wastemgmt_score_2km',
       'hospital_score_1km', 'hospital_score_4km', 'hospitalDistance',
       'police_score_5km', 'police_score_9_6km', 'policeDistance',
       'social_score_1km', 'social_score_4km', 'socialDistance',
       'waste_manaement_score_1km', 'waste_manaement_score_2km',
       'waste_mgmt_Distance', 'police_score_10km', 'police_Distance',
       'police_score_5kmnew', 'elderly_score_1km', 'elderly_score_4km',
       'elderly_Distance', 'childcare_score_1km', 'childcare_score_4km',
       'childcare_Distance', 'lat', 'lon', 'openarea_score_1km',
       'openarea_score_4km', 'openarea_Distance', 'fisheries_score_1km',
       'fisheries_score_4km', 'fisheries_Distance'],
      dtype='object')

In [4]:
df = df1[['Building', 'lat', 'lon', 'school_score_1km', 'school_score_16km',
       'hospital_score_1km', 'hospital_score_4km',
       'police_score_5kmnew', 'police_score_10km',
       'waste_manaement_score_1km', 'waste_manaement_score_2km', 'elderly_score_1km', 'elderly_score_4km',
       'childcare_score_1km', 'childcare_score_4km', 'openarea_score_1km',
       'openarea_score_4km', 'fisheries_score_1km',
       'fisheries_score_4km']]

In [5]:
df['SchoolScore'] = (df['school_score_16km'] + df['school_score_1km'])/2
df['HospitalScore'] = (df['hospital_score_1km'] + df['hospital_score_4km'])/2
df['PoliceScore'] = (df['police_score_10km'] + df['police_score_5kmnew'])/2
df['WasteManagementScore'] = (df['waste_manaement_score_1km'] + df['waste_manaement_score_2km'])/2
df['ElderlyCareScore'] = (df['elderly_score_1km'] + df['elderly_score_4km'])/2
df['ChildCareScore'] = (df['childcare_score_1km'] + df['childcare_score_4km'])/2
df['OpenAreaScore'] = (df['openarea_score_1km'] + df['openarea_score_4km'])/2
df['FisheriesScore'] = (df['fisheries_score_1km'] + df['fisheries_score_4km'])/2

In [6]:
df = df[['Building', 'lat', 'lon', 'SchoolScore', 'HospitalScore', 'PoliceScore', 'WasteManagementScore', 'ElderlyCareScore',
   'ChildCareScore', 'OpenAreaScore', 'FisheriesScore']]

In [7]:
df.shape

(5465, 11)

In [8]:
df['TotalScore'] = 0

In [9]:
for i in range(3, 11):
    col = df.columns[i]
    df['TotalScore'] = df['TotalScore'] + df[col]

In [10]:
df2 = pd.read_csv('CentamapDistrictRegion.csv')
df3 = pd.read_csv('CentamapNotNullGeocoded.csv')

In [11]:
list(df3.columns)

['District/Area/Building Group',
 'Total population',
 'Sex ratio',
 '< 15',
 '15 - 39',
 '40 - 64',
 '65+',
 'Male',
 'Female',
 'Both sexes',
 'Never-married male',
 'Never-married female',
 'Cantonese',
 'Putonghua and other Chinese dialects',
 'English and other languages',
 'Hong Kong',
 'The mainland of China/ Macao/ Taiwan',
 'Elsewhere',
 'Primary and below',
 'Secondary',
 'Post-secondary',
 'Studying and living  in the same District Council district',
 'Mass Transit Railway',
 'On foot only',
 'Bus',
 'School bus/ school private light bus',
 'Others',
 'Working population',
 'Employees',
 'Employers',
 'Self-employed and unpaid family workers',
 'Non-working population',
 'Students',
 'Non-students',
 'Managers and administrators',
 'Professionals and associate professionals',
 'Clerical support, service and sales workers',
 'Craft and related workers, plant and machine operators and assemblers',
 'Elementary occupations , skilled agricultural and fishery workers and occupations not classifiable',
 'Import/export, wholesale and retail trades, accommodation and food services',
 'Transportation, storage, postal and courier services, information and communications, financing and insurance, real estate, professional and business services',
 'Public administration, education, human health and social work activities, miscellaneous social and personal services',
 'Manufacturing, construction, and other industries',
 'Upper quartile',
 'Median',
 'Lower quartile',
 'Upper quartile_new_46',
 'Median_new_47',
 'Lower quartile_new_48',
 'Upper quartile_new_49',
 'Median_new_50',
 'Lower quartile_new_51',
 'Upper quartile_new_52',
 'Median_new_53',
 'Lower quartile_new_54',
 'Working and living in the same District Council district(including those working at home)^',
 'Mass Transit Railway_new_56',
 'Bus_new_57',
 'On foot only_new_58',
 'Public light bus',
 'Others_new_60',
 'Number of domestic households',
 '1-3',
 '4',
 '5+',
 'Average domestic household size',
 'Nuclear family households',
 'Relative households',
 'Other households',
 'Upper quartile_new_69',
 'Median_new_70',
 'Lower quartile_new_71',
 'Upper quartile_new_72',
 'Median_new_73',
 'Lower quartile_new_74',
 'Median age',
 'Chinese',
 'Non-Chinese',
 '1-2',
 '3',
 '4_new_80',
 '5+_new_81',
 'Without exclusively used rooms',
 'Per domestic household',
 'Per person',
 'Upper quartile_new_85',
 'Median_new_86',
 'Lower quartile_new_87',
 'Owner-occupier, with mortgage payment or loan repayment',
 'Owner-occupier, without mortgage payment and loan repayment',
 'Sole tenant',
 'Others ',
 'Median monthly mortgage payment and loan repayment',
 'Median mortgage payment and loan repayment to income ratio',
 'Median outstanding period of mortgage payment or loan repayment',
 'Median monthly household rent',
 'Median household rent to income ratio',
 'Remained in same address',
 'Resided in same District Council district (having migrated)',
 'Resided in different District Council district (having migrated) ',
 'Resided outside Hong Kong',
 'Division',
 'length',
 'geocode',
 'latitude',
 'longitude']

In [12]:
df3 = df3[['District/Area/Building Group', 'Division', 'length', 'Total population', 'Working population', 'Median_new_70', 
          '1-3', '4', '5+', '< 15', '15 - 39', '40 - 64', '65+', 'Sex ratio', 'Managers and administrators', 'Non-students', '15 - 39', 'Hong Kong',
          'Import/export, wholesale and retail trades, accommodation and food services', 'Manufacturing, construction, and other industries', 
           'Elementary occupations , skilled agricultural and fishery workers and occupations not classifiable',
          'Public administration, education, human health and social work activities, miscellaneous social and personal services',
          'Studying and living  in the same District Council district', 'Median_new_50', 'Bus_new_57', 'Public light bus']]

In [13]:
df_merge = df2.merge(df3, on ='District/Area/Building Group', how = 'inner')

In [16]:
df_merge = df_merge[['District/Area/Building Group', 'Division', 'Region', 'District', 'Total population_y', 'Working population_x',  'length', 
                     'Median_new_70_y', '1-3_x', '4_x', '5+_x', 'Sex ratio_x', 'Managers and administrators_x', 'Hong Kong_x', 
          'Import/export, wholesale and retail trades, accommodation and food services_x', 'Non-students_x', 
        'Public administration, education, human health and social work activities, miscellaneous social and personal services_x',
                    'Studying and living  in the same District Council district_x', '15 - 39_x', 'Manufacturing, construction, and other industries_x', 
                    'Elementary occupations , skilled agricultural and fishery workers and occupations not classifiable_x',
                    'Median_new_50_x', 'Bus_new_57_x', 'Public light bus_x', '< 15_x', '15 - 39_x', '40 - 64_x', '65+_x']]

In [17]:
df_merge.rename(columns = {'Division' : 'Building', 'Total population_y' : 'TotalPopulation', 'Working population_x': 'Working population', 'Median_new_70_y': 'Income',
                          '1-3_x' : '1-3', '4_x' : '4', '5+_x' : '5+', 'Sex ratio_x' : 'Sex ratio', 'Non-students_x' : 'NonWorkingPopulation', 
                           'Managers and administrators_x' : 'Managers and administrators', 'Median_new_50_x': 'WorkingHours', 'Hong Kong_x' : 'Born in Hong Kong',
                           '15 - 39_x' : '15 - 39', 'Manufacturing, construction, and other industries_x' : 'Manufacturing, construction, and other industries', 
          'Import/export, wholesale and retail trades, accommodation and food services_x' : 'Import/export, wholesale and retail trades, accommodation and food services',
        'Public administration, education, human health and social work activities, miscellaneous social and personal services_x' : 'Public administration, education, human health and social work activities, miscellaneous social and personal services',
                          'Studying and living  in the same District Council district_x': 'Studying and living  in the same District Council district',
                          'Elementary occupations , skilled agricultural and fishery workers and occupations not classifiable_x' : 'Elementary occupations , skilled agricultural and fishery workers and occupations not classifiable',
                          'Bus_new_57_x':'Bus', 'Public light bus_x':'LightBus', '< 15_x':'< 15', '15 - 39_x':'15 - 39',
                         '40 - 64_x':'40 - 64', '65+_x':'65+',}, inplace = True)

In [18]:
df = df.merge(df_merge, on = 'Building', how = 'inner')

In [19]:
df['Working population'] = df['Working population'].str.replace(',','')
df['Working population'] = df['Working population'].astype(float)

In [20]:
df['TotalPopulation'] = df['TotalPopulation']/df['length']
df['Working population'] = df['Working population']/df['length']
df['TotalPopulation'] = round(df['TotalPopulation'], 2)
df['Working population'] = round(df['Working population'], 2)

In [21]:
#df.to_csv('CensusDF_SDG.csv', index = False)

In [25]:
df.columns[11]

'TotalScore'

In [26]:
for i in range(3, 12):
    col = df.columns[i]
    df[col] = df[col]/df['TotalPopulation']

In [27]:
for i in range(3, 12):
    col = df.columns[i]
    mx = (df[col]).max()
    mn = (df[col]).min()
    for j in df.index:
        data = df[col].iloc[j]
        scaled = (data - mn)/(mx-mn)
        df[col].iloc[j] = scaled*10

In [28]:
for i in range(3, 12):
    try:
        col = df.columns[i]
        #print(col)
        df[col] = round(df[col], 2)
    except:
        print('Error')

In [29]:
#df['lat'] = None
#df['lon'] = None

In [30]:
#df.head(5)

In [31]:
df['Address'] = df['Building'] + ', ' + df['District'] + ', ' + df['Region'] + ', Hong Kong'

In [32]:
for i in df.index:
    df['Income'][i] = df['Income'][i][3:]

In [33]:
df['Income'] = df['Income'].replace(',','', regex=True)
df['Income'] = df['Income'].replace(' - Figures less than 500','0')
df['Income'] = df['Income'].astype(float)

In [34]:
#gmaps_key = googlemaps.Client(key="AIzaSyBAcmgL6nvDd6-N1XY3kRGRL-_2W693jOw")

In [35]:
'''%%time
for i in df.index:
    geocode_obj = gmaps_key.geocode(df.loc[i, "Address"])
    try:
        lat = geocode_obj[0]['geometry']['location']['lat']
        lon = geocode_obj[0]['geometry']['location']['lng']
        df.loc[i,'lat'] = lat
        df.loc[i,'lon'] = lon
    except:
        lat = None
        lon = None'''

'%%time\nfor i in df.index:\n    geocode_obj = gmaps_key.geocode(df.loc[i, "Address"])\n    try:\n        lat = geocode_obj[0][\'geometry\'][\'location\'][\'lat\']\n        lon = geocode_obj[0][\'geometry\'][\'location\'][\'lng\']\n        df.loc[i,\'lat\'] = lat\n        df.loc[i,\'lon\'] = lon\n    except:\n        lat = None\n        lon = None'

In [36]:
#df.sort_values(by = 'lat')

In [37]:
#df = df[df['lat'] > 20]

In [38]:
#df = df[df['lat'] < 24]

In [39]:
#df.sort_values(by = 'lat')

In [41]:
#df.to_csv('CensusBase_SDGV7.csv', index = False)

In [42]:
df.to_csv('CensusBase_SDGV8.csv', index = False)