In [1]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
from sklearn.metrics import mean_squared_error

In [2]:
df = pd.read_csv('SDGforRobustness.csv')

In [3]:
df = df[['District/Area/Building Group', 'Building', 'SDG1', 'SDG2', 'SDG3', 'SDG4', 'SDG5', 'SDG6', 'SDG7',
       'SDG8', 'SDG9', 'SDG10', 'SDG11', 'SDG12', 'SDG13', 'SDG14', 'SDG15',
       'SDG16', 'SDG17', 'Overall SDG Score']]

In [4]:
df.columns

Index(['District/Area/Building Group', 'Building', 'SDG1', 'SDG2', 'SDG3',
       'SDG4', 'SDG5', 'SDG6', 'SDG7', 'SDG8', 'SDG9', 'SDG10', 'SDG11',
       'SDG12', 'SDG13', 'SDG14', 'SDG15', 'SDG16', 'SDG17',
       'Overall SDG Score'],
      dtype='object')

In [5]:
df1 = pd.DataFrame()

In [6]:
df1['SDG'] = ['SDG1', 'SDG2', 'SDG3', 'SDG4', 'SDG5', 'SDG6', 'SDG7',
       'SDG8', 'SDG9', 'SDG10', 'SDG11', 'SDG12', 'SDG13', 'SDG14', 'SDG15',
       'SDG16', 'SDG17']

In [7]:
lst = []

In [8]:
for i in range(2,19):
    col = df.columns[i]
    a = df[col].mean()
    lst.append(a)

In [9]:
df1['CalculatedScore'] = lst

In [10]:
df1.head(2)

    SDG  CalculatedScore
0  SDG1         5.561580
1  SDG2         0.768304

In [11]:
for i in df1.columns:
    try:
        df1[i] = df1[i].astype(float)
    except:
        print('Error')

Error

In [12]:
df1['CalculatedScore'] = round(df1['CalculatedScore'], 2)

In [13]:
df2 = pd.read_excel('HongKongActualSDGScore.xlsx')

In [14]:
df2 = df2[['SDG', 'Score']]

In [15]:
df_final = df2.merge(df1, on = 'SDG')

In [16]:
df_final.head(2)

    SDG  Score  CalculatedScore
0  SDG1   6.56             5.56
1  SDG2   0.25             0.77

In [17]:
mean_squared_error(df_final['Score'], df_final['CalculatedScore'])

7.743581941176471

In [18]:
c = [abs(i-j)/i*100 if i != 0 else None for i,j in zip(df_final['CalculatedScore'], df_final['Score'])]
#print(c)

In [19]:
df_final['PercentageError'] = c

In [20]:
df_final['Difference'] = None

In [21]:
for i in df_final.index:
    df_final['Difference'].iloc[i] = abs(df_final['CalculatedScore'].iloc[i] - df_final['Score'].iloc[i])

In [23]:
df_final

      SDG  Score  CalculatedScore  PercentageError Difference
0    SDG1  6.560             5.56        17.985612        1.0
1    SDG2  0.250             0.77        67.532468       0.52
2    SDG3  0.277             0.87        68.160920      0.593
3    SDG4  8.990             0.52      1628.846154       8.47
4    SDG5  2.940             1.84        59.782609        1.1
5    SDG6  4.338             5.20        16.576923      0.862
6    SDG7  5.040            10.00        49.600000       4.96
7    SDG8  1.720             1.84         6.521739       0.12
8    SDG9  5.610             2.14       162.149533       3.47
9   SDG10  4.130             5.09        18.860511       0.96
10  SDG11  0.000             1.27       100.000000       1.27
11  SDG12  3.300             0.18      1733.333333       3.12
12  SDG13  0.000             0.40       100.000000        0.4
13  SDG14  1.630             0.05      3160.000000       1.58
14  SDG15  4.320             3.43        25.947522       0.89
15  SDG16  0.950             0.40       137.500000       0.55
16  SDG17  2.310             0.40       477.500000       1.91

In [24]:
df_final.to_csv('RobustnessAnalysisResults.csv', index = False)