NOTE: Scale all individual scores before adding to final SDG because of scale change, there is very high or low impact. so relative scoring is very important here.

In [1]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [2]:
df = pd.read_csv('CensusBase_SDGV7.csv')

In [3]:
for i in df.index:
    df['Building'][i] = df['Building'].iloc[i].strip()

In [4]:
#df.columns

In [5]:
df['1.1.1'] = None
df['1.2.1'] = None
df['1.4.1'] = None
df['1.a.2'] = None

In [6]:
#df['Sex ratio'].replace({',':''}, inplace = True)

In [7]:
for i in df.index:
    inc = df['Income'].iloc[i]
    pop = df['TotalPopulation'].sum()
    if inc<=500:
        a = (df['TotalPopulation'].iloc[i]/pop)*100
        df['1.1.1'].iloc[i] = 0 - a
    else:
        df['1.1.1'].iloc[i] = 0

In [8]:
for i in df.index:
    df['1-3'].iloc[i] = df['1-3'].iloc[i][: -1]
    df['4'].iloc[i] = df['4'].iloc[i][: -1]
    df['5+'].iloc[i] = df['5+'].iloc[i][: -1]

In [9]:
df['Sex ratio']=df['Sex ratio'].str.replace(',','')

In [10]:
for i in df.columns:
    try:
        df[i] = df[i].astype(float)
    except:
        print('Error')

Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error

In [11]:
for i in df.index:
    inc = df['Income'].iloc[i]
    val = 0
    if inc <= 10000:
        a = df['TotalPopulation'].iloc[i] * df['1-3'].iloc[i]
        a = a/df['TotalPopulation'].sum()
        val = val+a
        if inc <= 20800:
            a = df['TotalPopulation'].iloc[i] * df['4'].iloc[i]
            a = a/df['TotalPopulation'].sum()
            val = val+a
            if inc <= 21000:
                a = df['TotalPopulation'].iloc[i] * df['5+'].iloc[i]
                a = a/df['TotalPopulation'].sum()
                val = val+a
    df['1.2.1'].iloc[i] = 0-val

In [12]:
df['Male'] = (df['Sex ratio'] * df['TotalPopulation'])/1000
df['Female'] = df['TotalPopulation'] - df['Male']
df['Male'] = df['Male'].round(2)
df['Female'] = df['Female'].round(2)

In [13]:
df.drop(columns= ['Sex ratio'], inplace = True)

In [14]:
df['1.a.2'] = df['SchoolScore'] + df['HospitalScore']

In [15]:
df['1.4.1'] = df['TotalScore'] * 0.186

In [16]:
df.columns

Index(['Building', 'lat', 'lon', 'SchoolScore', 'HospitalScore', 'PoliceScore',
       'WasteManagementScore', 'ElderlyCareScore', 'ChildCareScore',
       'OpenAreaScore', 'FisheriesScore', 'TotalScore',
       'District/Area/Building Group', 'Region', 'District', 'TotalPopulation',
       'Working population', 'length', 'Income', '1-3', '4', '5+',
       'Managers and administrators', 'Born in Hong Kong',
       'Import/export, wholesale and retail trades, accommodation and food services',
       'NonWorkingPopulation',
       'Public administration, education, human health and social work activities, miscellaneous social and personal services',
       'Studying and living  in the same District Council district', '15 - 39',
       'Manufacturing, construction, and other industries',
       'Elementary occupations , skilled agricultural and fishery workers and occupations not classifiable',
       'WorkingHours', 'Bus', 'LightBus', 'geocode', 'Address', '1.1.1',
       '1.2.1', '1.4.1', '1.a.2', 'Male', 'Female'],
      dtype='object')

In [17]:
df = df[['District/Area/Building Group', 'Building', 'lat', 'lon', 'Region', 'NonWorkingPopulation', 'Born in Hong Kong', 
       'District', 'TotalPopulation', 'Working population', 'Male', 'Female', 'Income','OpenAreaScore', 'WasteManagementScore', 'HospitalScore', 'SchoolScore', 'Managers and administrators',
        'FisheriesScore', 'PoliceScore','ElderlyCareScore', 'ChildCareScore', 
         'Elementary occupations , skilled agricultural and fishery workers and occupations not classifiable',
         'Manufacturing, construction, and other industries', 'Bus', 'LightBus', 
         'Public administration, education, human health and social work activities, miscellaneous social and personal services',
        '1-3', '4', '5+', 'Studying and living  in the same District Council district', 'WorkingHours', '15 - 39', '1.1.1',
       '1.2.1', '1.4.1', '1.a.2']]

In [ ]:
dfe = df[df['ElderlyCareScore'] > 5]
dfe = dfe[dfe['HospitalScore'] > 5]

In [ ]:
dfe = dfe[dfe['Building'] == 'Ming Wah Court (Ma Tau Wai Road - Hung Hom Section']

In [ ]:
dfe['ElderlyCareScore']

In [ ]:
dfe.to_excel('ElderlyBuilding.xls', index = False)

In [ ]:
dfc = df[df['ChildCareScore'] > 3]
dfc = dfc[dfc['SchoolScore'] > 5]

In [ ]:
dfc = dfc[dfc['Building'] == 'Flower Market Road']

In [ ]:
dfc.to_excel('ChildrenBuilding.xlsx', index = False)

In [18]:
df['2.3.2'] = None
df['SDG2'] = None

In [19]:
for i in df.index:
    df['Elementary occupations , skilled agricultural and fishery workers and occupations not classifiable'].iloc[i] = df['Elementary occupations , skilled agricultural and fishery workers and occupations not classifiable'].iloc[i][: -1]
    df['Public administration, education, human health and social work activities, miscellaneous social and personal services'].iloc[i] = df['Public administration, education, human health and social work activities, miscellaneous social and personal services'].iloc[i][: -1]
    df['Studying and living  in the same District Council district'].iloc[i] = df['Studying and living  in the same District Council district'].iloc[i][:-1]
    df['Managers and administrators'].iloc[i] = df['Managers and administrators'].iloc[i][:-1]
    df['WorkingHours'].iloc[i] = df['WorkingHours'].iloc[i][:-5]
    df['NonWorkingPopulation'].iloc[i] = df['NonWorkingPopulation'].iloc[i][:-1]
    df['15 - 39'].iloc[i] = df['15 - 39'].iloc[i][:-1]
    df['Manufacturing, construction, and other industries'].iloc[i] = df['Manufacturing, construction, and other industries'].iloc[i][:-1]
    df['Born in Hong Kong'].iloc[i] = df['Born in Hong Kong'].iloc[i][:-1]
    df['Bus'].iloc[i] = df['Bus'].iloc[i][:-1]
    df['LightBus'].iloc[i] = df['LightBus'].iloc[i][:-1]

In [20]:
for i in df.columns:
    try:
        df[i] = df[i].astype(float)
    except:
        print('Error')

Error
Error
Error
Error

In [21]:
for i in df.index:
    inc = df['Income'].iloc[i]
    food = df['Elementary occupations , skilled agricultural and fishery workers and occupations not classifiable'].iloc[i]
    food = food/100
    pop = df['Working population'].iloc[i]
    foodpop = food*pop
    a = (inc * foodpop)/pop
    df['2.3.2'].iloc[i] = a

In [22]:
df['3.b.3'] = df['HospitalScore']

In [23]:
df['3.c.1'] = None

In [24]:
for i in df.index:
    pop = df['Working population'].iloc[i]
    health = df['Public administration, education, human health and social work activities, miscellaneous social and personal services'].iloc[i]
    a = (pop * health)/100
    df['3.c.1'].iloc[i] = a
    #df['3.c.1'].iloc[i] = df['3.c.1'].iloc[i].round(2)

In [25]:
df['4.1.1'] = None
df['4.a.1'] = None
df['4.c.1'] = None

In [26]:
for i in df.index:
    study = df['Studying and living  in the same District Council district'].iloc[i]
    pop = df['TotalPopulation'].iloc[i]
    a = (study * pop)/100
    df['4.1.1'].iloc[i] = a

In [27]:
df['4.a.1'] = df['SchoolScore']

In [28]:
for i in df.index:
    pop = df['Working population'].iloc[i]
    education = df['Public administration, education, human health and social work activities, miscellaneous social and personal services'].iloc[i]
    a = (pop * education)/100
    df['4.c.1'].iloc[i] = a
    #df['4.c.1'].iloc[i] = df['4.c.1'].iloc[i].round(2)

In [29]:
#df['IncomeQuartile'] = pd.qcut(df.Income, np.linspace(0,1,11), labels=np.linspace(0.1,1,10))

In [30]:
#df['IncomeQuartile'] = df['IncomeQuartile'].astype(float)

In [31]:
#df['IncomeQuartile'] = np.round(df['IncomeQuartile'],1)

In [32]:
df['5.2.1'] = None
df['5.2.2'] = None
df['5.4.1'] = None
df['5.5.1'] = None
df['5.5.2'] = None

In [33]:
for i in df.index:
    female = df['Female'].iloc[i]
    a = ((female * 13.4)/100) + ((female * 11.7)/100)
    df['5.2.1'].iloc[i] = a

In [34]:
for i in df.index:
    female = df['Female'].iloc[i]
    a = (female * 11.7)/100
    df['5.2.2'].iloc[i] = a
    #df['5.2.2'].iloc[i] = df['5.2.2'].iloc[i].round(2)

In [35]:
for i in df.index:
    f = 0.108 * 24
    m = 0.033 * 24
    female = df['Female'].iloc[i] * f
    male = df['Male'].iloc[i] * m
    a = female + male
    df['5.4.1'].iloc[i] = a

In [36]:
for i in df.index:
    f = df['Female'].iloc[i]
    gov = 0.352
    a = f * gov
    df['5.5.1'].iloc[i] = a

In [37]:
for i in df.index:
    manager = df['Managers and administrators'].iloc[i]
    female = df['Female'].iloc[i]
    working = df['Working population'].iloc[i]
    female = (female * working)/100
    a = (manager * female)/100
    df['5.5.2'].iloc[i] = a
    #df['5.5.2'].iloc[i] = df['5.5.2'].iloc[i].round(2)

In [38]:
df['6.1.1'] = 10
df['6.3.1'] = None

In [39]:
for i in df.index:
    pop = df['TotalPopulation'].iloc[i]
    a = 10
    b = 0.91
    b = (pop * b)
    #df['6.1.1'].iloc[i] = a
    df['6.3.1'].iloc[i] = b
    #df['6.3.1'].iloc[i] = df['6.3.1'].iloc[i].round(2)

In [40]:
df['7.1.1'] = None

In [41]:
for i in df.index:
    a = 10
    df['7.1.1'].iloc[i] = a

In [42]:
df['8.3.1'] = None
df['8.5.1'] = None
df['8.5.2'] = None
df['8.6.1'] = None

In [43]:
for i in df.index:
    working = df['Working population'].iloc[i]
    informal = df['Elementary occupations , skilled agricultural and fishery workers and occupations not classifiable'].iloc[i]
    a = (working * informal)/100
    df['8.3.1'].iloc[i] = a
    #df['8.3.1'].iloc[i] = df['8.3.1'].iloc[i].round(2)

In [44]:
for i in df.index:
    workinghours = df['WorkingHours'].iloc[i]
    #pop = df['Working population'].iloc[i]
    income = df['Income'].iloc[i]
    a = income/workinghours
    df['8.5.1'].iloc[i] = a
    #df['8.5.1'].iloc[i] = df['8.5.1'].iloc[i].round(2)

In [45]:
for i in df.index:
    not_working = df['NonWorkingPopulation'].iloc[i]
    pop = df['TotalPopulation'].iloc[i]
    a = (not_working * pop)/100
    df['8.5.2'].iloc[i] = a
    #df['8.5.2'].iloc[i] = df['8.5.2'].iloc[i].round(2)

In [46]:
for i in df.index:
    not_working = df['NonWorkingPopulation'].iloc[i]
    age_range = df['15 - 39'].iloc[i]
    people = (not_working * age_range)/100
    people = (people * 10)/25
    df['8.6.1'].iloc[i] = people
    #df['8.6.1'].iloc[i] = df['8.6.1'].iloc[i].round(2)

In [47]:
df['9.2.2'] = None

In [48]:
for i in df.index:
    working = df['Working population'].iloc[i]
    manufacturing = df['Manufacturing, construction, and other industries'].iloc[i]
    people = (working * manufacturing)/100
    a = people/working
    df['9.2.2'].iloc[i] = a

In [49]:
df['10.2.1'] = None
df['10.7.4'] = None

In [50]:
median = df['Income'].mean()
median = median/2
median = round(median,2)

In [51]:
for i in df.index:
    inc = df['Income'].iloc[i]
    if inc<=median:
        a = df['TotalPopulation'].iloc[i]
    else:
        a = 0
    a = 0-a
    df['10.2.1'].iloc[i] = a

In [52]:
for i in df.index:
    bornhk = df['Born in Hong Kong'].iloc[i]
    nothk = 100 - bornhk
    pop = df['TotalPopulation'].iloc[i]
    a = (nothk * pop)/100
    df['10.7.4'].iloc[i] = a
    #df['10.7.4'].iloc[i] = df['10.7.4'].iloc[i].round(2)

In [53]:
df['11.2.1'] = None
df['11.6.1'] = None
df['11.7.1'] = None

In [54]:
for i in df.index:
    bus = df['Bus'].iloc[i]
    lightbus = df['LightBus'].iloc[i]
    public = bus + lightbus
    working = df['Working population'].iloc[i]
    a = (working * public)/100
    a = a/working
    df['11.2.1'].iloc[i] = a

In [55]:
df['11.6.1'] = df['WasteManagementScore']

In [56]:
df['11.7.1'] = df['OpenAreaScore']

In [57]:
df['12.5.1'] = None

In [58]:
for i in df.index:
    wastemgmt = df['WasteManagementScore'].iloc[i]
    recycled = 0.31
    a = wastemgmt * recycled
    df['12.5.1'].iloc[i] = a

In [59]:
df['13.1.1'] = None

In [60]:
for i in df.index:
    pop = df['TotalPopulation'].iloc[i]
    missing = 55/100000
    a = pop*missing
    df['13.1.1'].iloc[i] = a

In [61]:
df['14.7.1'] = df['FisheriesScore']

In [62]:
df['15.1.1'] = 0.23
df['15.1.2'] = df['FisheriesScore']
df['15.4.2'] = 10

In [63]:
df['16.1.1'] = None
df['16.1.2'] = None
df['16.2.3'] = None

In [64]:
for i in df.index:
    homocide = 0.64/100000
    pop = df['TotalPopulation'].iloc[i]
    a = homocide*pop
    df['16.1.1'].iloc[i] = a

In [65]:
for i in df.index:
    conflict = 940/100000
    pop = df['TotalPopulation'].iloc[i]
    a = conflict*pop
    df['16.1.2'].iloc[i] = a

In [66]:
for i in df.index:
    sexualviolence = 0.01/100000
    pop = df['TotalPopulation'].iloc[i]
    a = sexualviolence*pop
    df['16.2.3'].iloc[i] = a

In [67]:
df['17.6.1'] = None
df['17.8.1'] = None

In [68]:
for i in df.index:
    broadband = 38.94/100
    pop = df['TotalPopulation'].iloc[i]
    a = broadband * pop
    df['17.6.1'].iloc[i] = a

In [69]:
for i in df.index:
    internet = 0.93
    pop = df['TotalPopulation'].iloc[i]
    a = internet * pop
    df['17.8.1'].iloc[i] = a

In [70]:
df['SDG1'] = None
df['SDG2'] = None
df['SDG3'] = None
df['SDG4'] = None
df['SDG5'] = None
df['SDG6'] = None
df['SDG7'] = None
df['SDG8'] = None
df['SDG9'] = None
df['SDG10'] = None
df['SDG11'] = None
df['SDG12'] = None
df['SDG13'] = None
df['SDG14'] = None
df['SDG15'] = None
df['SDG16'] = None
df['SDG17'] = None

In [71]:
df.columns[72]

'17.8.1'

In [72]:
for i in df.columns:
    try:
        df[i] = df[i].astype(float)
    except:
        print('Error')

Error
Error
Error
Error

In [73]:
collst = ['6.1.1', '7.1.1', '15.1.1', '15.4.2']

In [74]:
for i in range(33, 73):
    col = df.columns[i]
    if col in collst:
        pass
    else:
        mx = (df[col]).max()
        mn = (df[col]).min()
        for j in df.index:
            try:
                data = df[col].iloc[j]
                scaled = (data - mn)/(mx-mn)
                df[col].iloc[j] = scaled*10
            except:
                pass

In [75]:
df['SDG1'] = (df['1.1.1'] + df['1.2.1'] + df['1.4.1'] + df['1.a.2'])/4
df['SDG2'] = df['2.3.2']
df['SDG3'] = (df['3.b.3'] + df['3.c.1'])/2
df['SDG4'] = (df['4.1.1'] + df['4.a.1'] + df['4.c.1'])/3
df['SDG5'] = (df['5.2.1'] + df['5.2.2'] + df['5.4.1'] + df['5.5.1'] + df['5.5.2'])/5
df['SDG6'] = (df['6.1.1'] + df['6.3.1'])/2
df['SDG7'] = df['7.1.1']
df['SDG8'] = (df['8.3.1'] + df['8.5.1'] + df['8.5.2'] + df['8.6.1'])/4
df['SDG9'] = df['9.2.2']
df['SDG10'] = (df['10.2.1'] + df['10.7.4'])/2
df['SDG11'] = (df['11.2.1'] + df['11.6.1'] + df['11.7.1'])/3
df['SDG12'] = df['12.5.1']
df['SDG13'] = df['13.1.1']
df['SDG14'] = df['14.7.1']
df['SDG15'] = (df['15.1.1'] + df['15.1.2'] + df['15.4.2'])/3
df['SDG16'] = (df['16.1.1'] + df['16.1.2'] + df['16.2.3'])/3
df['SDG17'] = (df['17.6.1'] + df['17.8.1'])/2

In [76]:
'''df['SDG1'] = df['1.1.1'] + df['1.2.1'] + df['1.4.1'] + df['1.a.2']
df['SDG2'] = df['2.3.2']
df['SDG3'] = df['3.b.3'] + df['3.c.1']
df['SDG4'] = df['4.1.1'] + df['4.a.1'] + df['4.c.1']
df['SDG5'] = df['5.2.1'] + df['5.2.2'] + df['5.4.1'] + df['5.5.1'] + df['5.5.2']
df['SDG6'] = df['6.1.1'] + df['6.3.1']
df['SDG7'] = df['7.1.1']
df['SDG8'] = df['8.3.1'] + df['8.5.1'] + df['8.5.2'] + df['8.6.1']
df['SDG9'] = df['9.2.2']
df['SDG10'] = df['10.2.1'] + df['10.7.4']
df['SDG11'] = df['11.2.1'] + df['11.6.1'] + df['11.7.1']
df['SDG12'] = df['12.5.1']
df['SDG13'] = df['13.1.1']
df['SDG14'] = df['14.7.1']
df['SDG15'] = df['15.1.1'] + df['15.1.2'] + df['15.4.2']
df['SDG16'] = df['16.1.1'] + df['16.1.2'] + df['16.2.3']
df['SDG17'] = df['17.6.1'] + df['17.8.1']'''

"df['SDG1'] = df['1.1.1'] + df['1.2.1'] + df['1.4.1'] + df['1.a.2']\ndf['SDG2'] = df['2.3.2']\ndf['SDG3'] = df['3.b.3'] + df['3.c.1']\ndf['SDG4'] = df['4.1.1'] + df['4.a.1'] + df['4.c.1']\ndf['SDG5'] = df['5.2.1'] + df['5.2.2'] + df['5.4.1'] + df['5.5.1'] + df['5.5.2']\ndf['SDG6'] = df['6.1.1'] + df['6.3.1']\ndf['SDG7'] = df['7.1.1']\ndf['SDG8'] = df['8.3.1'] + df['8.5.1'] + df['8.5.2'] + df['8.6.1']\ndf['SDG9'] = df['9.2.2']\ndf['SDG10'] = df['10.2.1'] + df['10.7.4']\ndf['SDG11'] = df['11.2.1'] + df['11.6.1'] + df['11.7.1']\ndf['SDG12'] = df['12.5.1']\ndf['SDG13'] = df['13.1.1']\ndf['SDG14'] = df['14.7.1']\ndf['SDG15'] = df['15.1.1'] + df['15.1.2'] + df['15.4.2']\ndf['SDG16'] = df['16.1.1'] + df['16.1.2'] + df['16.2.3']\ndf['SDG17'] = df['17.6.1'] + df['17.8.1']"

In [77]:
df['SDG15'].mean()

3.4262203446465223

In [78]:
df['15.4.2']

0       10.0
1       10.0
2       10.0
3       10.0
4       10.0
        ...
6978    10.0
6979    10.0
6980    10.0
6981    10.0
6982    10.0
Name: 15.4.2, Length: 6983, dtype: float64

In [79]:
df.columns[73]

'SDG1'

In [86]:
df_final = df[['District/Area/Building Group', 'Building', 'lat', 'lon', 'Region',
       'District', 'TotalPopulation', 'Working population', 'Male', 'Female', 'Income', 'SDG1', 'SDG2', 'SDG3',
       'SDG4', 'SDG5', 'SDG6', 'SDG7', 'SDG8', 'SDG9', 'SDG10', 'SDG11',
       'SDG12', 'SDG13', 'SDG14', 'SDG15', 'SDG16', 'SDG17']]

In [87]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6983 entries, 0 to 6982
Data columns (total 28 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   District/Area/Building Group  6983 non-null   object
 1   Building                      6983 non-null   object
 2   lat                           6983 non-null   float64
 3   lon                           6983 non-null   float64
 4   Region                        6983 non-null   object
 5   District                      6983 non-null   object
 6   TotalPopulation               6983 non-null   float64
 7   Working population            6983 non-null   float64
 8   Male                          6983 non-null   float64
 9   Female                        6983 non-null   float64
 10  Income                        6983 non-null   float64
 11  SDG1                          6983 non-null   float64
 12  SDG2                          6983 non-null   float64
 13  SDG3                          6983 non-null   float64
 14  SDG4                          6983 non-null   float64
 15  SDG5                          6983 non-null   float64
 16  SDG6                          6983 non-null   float64
 17  SDG7                          6983 non-null   float64
 18  SDG8                          6983 non-null   float64
 19  SDG9                          6983 non-null   float64
 20  SDG10                         6983 non-null   float64
 21  SDG11                         6983 non-null   float64
 22  SDG12                         6983 non-null   float64
 23  SDG13                         6983 non-null   float64
 24  SDG14                         6983 non-null   float64
 25  SDG15                         6983 non-null   float64
 26  SDG16                         6983 non-null   float64
 27  SDG17                         6983 non-null   float64
dtypes: float64(24), object(4)
memory usage: 1.5+ MB

In [88]:
df_final.head(5)

,District/Area/Building Group,Building,lat,lon,Region,District,TotalPopulation,Working population,Male,Female,...,SDG8,SDG9,SDG10,SDG11,SDG12,SDG13,SDG14,SDG15,SDG16,SDG17
0,(Tai Po Mid-levels) Provi...(Tai Po Mid-levels...,Providence Peak,22.432130,114.202489,NewTerritories,TaiPo,2115.33,1064.33,1607.65,507.68,...,2.276131,1.675214,5.474510,0.705706,0.0,0.917651,0.0,3.41,0.917651,0.917651
1,(Sha Tau Kok) residential...(Sha Tau Kok) resi...,(Sha Tau Kok) residential buildings,22.531577,114.203240,NewTerritories,North,1523.50,582.00,1435.14,88.36,...,1.494715,4.358974,5.322125,2.072072,0.0,0.647956,0.0,3.41,0.647956,0.647956
2,(Yuen Long Southeast) Tow...(Yuen Long Southea...,"(Yuen Long Southeast) Tower 1-5, The Reach (Sh...",22.437429,114.027660,NewTerritories,YuenLong,1841.00,1219.00,1285.02,555.98,...,3.088889,2.034188,5.278841,0.949700,0.0,0.792640,0.0,3.41,0.792640,0.792640
3,(Yuen Long Southeast) Tow...(Yuen Long Southea...,"(Yuen Long Southeast) Tower 10-13, The Reach (...",22.437429,114.027660,NewTerritories,YuenLong,2076.00,1270.00,1721.00,355.00,...,2.665721,2.820513,5.255678,1.234985,0.0,0.899728,0.0,3.41,0.899728,0.899728
4,(Yuen Long Southeast) Gra...(Yuen Long Southea...,(Yuen Long Southeast) Grand Del Sol (Fung Cheu...,22.440560,114.032987,NewTerritories,YuenLong,3696.00,2030.00,3012.24,683.76,...,2.469851,1.982906,5.565686,0.518018,0.0,1.637958,0.0,3.41,1.637958,1.637958

In [89]:
df_final['Overall SDG Score'] = None

In [90]:
df_final.columns[28]

'Overall SDG Score'

In [ ]:
for i in range(33, 73):
    col = df.columns[i]
    mx = (df[col]).max()
    mn = (df[col]).min()
    for j in df.index:
        try:
            data = df[col].iloc[j]
            scaled = (data - mn)/(mx-mn)
            df[col].iloc[j] = scaled*10
        except:
            pass

In [91]:
for i in range(33, 73):
    try:
        col = df.columns[i]
        #print(col)
        df[col] = round(df[col], 2)
    except:
        print('Error')

In [ ]:
bldg = df[df['Building'] == 'Yue Man Building']

In [ ]:
bldg['4.c.1']

In [ ]:
#bldg.to_excel('Bldg.xls')

In [92]:
for i in df_final.index:
    a = 0
    for j in range(11,28):
        col = df_final.columns[j]
        val = df_final[col].iloc[i]
        df_final['Overall SDG Score'].iloc[i] = a + val
        a = a + val

In [93]:
'''for i in range(6, 23):
    col = df_final.columns[i]
    for j in df_final.index:
        val = df_final[col].iloc[j]
        df_final['Overall SDG Score'].iloc[j] = a + val'''

"for i in range(6, 23):\n    col = df_final.columns[i]\n    for j in df_final.index:\n        val = df_final[col].iloc[j]\n        df_final['Overall SDG Score'].iloc[j] = a + val"

In [94]:
df_final.head(5)

,District/Area/Building Group,Building,lat,lon,Region,District,TotalPopulation,Working population,Male,Female,...,SDG9,SDG10,SDG11,SDG12,SDG13,SDG14,SDG15,SDG16,SDG17,Overall SDG Score
0,(Tai Po Mid-levels) Provi...(Tai Po Mid-levels...,Providence Peak,22.432130,114.202489,NewTerritories,TaiPo,2115.33,1064.33,1607.65,507.68,...,1.675214,5.474510,0.705706,0.0,0.917651,0.0,3.41,0.917651,0.917651,42.393384
1,(Sha Tau Kok) residential...(Sha Tau Kok) resi...,(Sha Tau Kok) residential buildings,22.531577,114.203240,NewTerritories,North,1523.50,582.00,1435.14,88.36,...,4.358974,5.322125,2.072072,0.0,0.647956,0.0,3.41,0.647956,0.647956,41.591698
2,(Yuen Long Southeast) Tow...(Yuen Long Southea...,"(Yuen Long Southeast) Tower 1-5, The Reach (Sh...",22.437429,114.027660,NewTerritories,YuenLong,1841.00,1219.00,1285.02,555.98,...,2.034188,5.278841,0.949700,0.0,0.792640,0.0,3.41,0.792640,0.792640,41.597221
3,(Yuen Long Southeast) Tow...(Yuen Long Southea...,"(Yuen Long Southeast) Tower 10-13, The Reach (...",22.437429,114.027660,NewTerritories,YuenLong,2076.00,1270.00,1721.00,355.00,...,2.820513,5.255678,1.234985,0.0,0.899728,0.0,3.41,0.899728,0.899728,42.617953
4,(Yuen Long Southeast) Gra...(Yuen Long Southea...,(Yuen Long Southeast) Grand Del Sol (Fung Cheu...,22.440560,114.032987,NewTerritories,YuenLong,3696.00,2030.00,3012.24,683.76,...,1.982906,5.565686,0.518018,0.0,1.637958,0.0,3.41,1.637958,1.637958,46.384768

In [95]:
col = 'Overall SDG Score'
mx = (df_final[col]).max()
mn = (df_final[col]).min()
for j in df_final.index:
    try:
        data = df_final[col].iloc[j]
        scaled = (data - mn)/(mx-mn)
        df_final[col].iloc[j] = scaled*10
    except:
        pass

In [96]:
df_final['Overall SDG Score'].value_counts()

1.051161    12
0.846807    12
1.151015    12
0.848828    12
1.867633    12
            ..
1.603797     1
1.351425     1
1.736018     1
3.655293     1
1.032124     1
Name: Overall SDG Score, Length: 4635, dtype: int64

In [97]:
for i in df_final.columns:
    try:
        df_final[i] = df_final[i].astype(float)
    except:
        print('Error')

Error
Error
Error
Error

In [98]:
df_final['SDG12'].min()

0.0

In [99]:
#df_final.to_csv('SDG_Score.csv', index = False)

In [100]:
#df_final.to_csv('SDG_Score_ISIE.csv', index = False)

In [ ]:
#df_final.to_excel('SDG_Score_ISIE.xls', index = False)

In [ ]:
df_mean = df_final.groupby(by = 'District').mean()

In [ ]:
#df_mean.to_excel('MeanSDG.xls')

In [ ]:
df_mean

In [101]:
df_final.to_csv('SDGforRobustness.csv', index = False)

# Classification

In [ ]:
from pycaret.classificati import *

In [ ]:
from pycaret.classification import ClassificationExperiment
s = ClassificationExperiment()

In [ ]:
exp_name = setup(data = df_final,  target = 'Overall SDG Score')

In [ ]:
compare_models()