NOTE: Scale all individual scores before adding to final SDG because of scale change, there is very high or low impact. so relative scoring is very important here.

In [1]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [2]:
df = pd.read_csv('CensusBase_SDGV7.csv')

In [3]:
for i in df.index:
    df['Building'][i] = df['Building'].iloc[i].strip()

In [4]:
#df.columns

In [5]:
df['1.1.1'] = None
df['1.2.1'] = None
df['1.4.1'] = None
df['1.a.2'] = None

In [6]:
#df['Sex ratio'].replace({',':''}, inplace = True)

In [7]:
for i in df.index:
    inc = df['Income'].iloc[i]
    pop = df['TotalPopulation'].sum()
    if inc<=500:
        a = (df['TotalPopulation'].iloc[i]/pop)*100
        df['1.1.1'].iloc[i] = 0 - a
    else:
        df['1.1.1'].iloc[i] = 0

In [8]:
col = '1.1.1'
mx = (df[col]).max()
mn = (df[col]).min()
for j in df.index:
    try:
        data = df[col].iloc[j]
        scaled = (data - mn)/(mx-mn)
        df[col].iloc[j] = scaled*10
    except:
        pass

In [9]:
for i in df.index:
    df['1-3'].iloc[i] = df['1-3'].iloc[i][: -1]
    df['4'].iloc[i] = df['4'].iloc[i][: -1]
    df['5+'].iloc[i] = df['5+'].iloc[i][: -1]

In [10]:
df['Sex ratio']=df['Sex ratio'].str.replace(',','')

In [11]:
for i in df.columns:
    try:
        df[i] = df[i].astype(float)
    except:
        print('Error')

Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error

In [12]:
for i in df.index:
    inc = df['Income'].iloc[i]
    val = 0
    if inc <= 10000:
        a = df['TotalPopulation'].iloc[i] * df['1-3'].iloc[i]
        a = a/df['TotalPopulation'].sum()
        val = val+a
        if inc <= 20800:
            a = df['TotalPopulation'].iloc[i] * df['4'].iloc[i]
            a = a/df['TotalPopulation'].sum()
            val = val+a
            if inc <= 21000:
                a = df['TotalPopulation'].iloc[i] * df['5+'].iloc[i]
                a = a/df['TotalPopulation'].sum()
                val = val+a
    df['1.2.1'].iloc[i] = 0-val

In [13]:
col = '1.2.1'
mx = (df[col]).max()
mn = (df[col]).min()
for j in df.index:
    try:
        data = df[col].iloc[j]
        scaled = (data - mn)/(mx-mn)
        df[col].iloc[j] = scaled*10
    except:
        pass

In [14]:
df['Male'] = None
df['Female'] = None

In [15]:
for i in df.index:
    ratio = df['Sex ratio'].iloc[i]
    pop = df['TotalPopulation'].iloc[i]
    male = (ratio*pop)/(1000+ratio)
    male = male.round(2)
    female = pop-male
    female = female.round(2)
    df['Male'].iloc[i] = male
    df['Female'].iloc[i] = female

In [16]:
df.drop(columns= ['Sex ratio'], inplace = True)

In [17]:
df['1.a.2'] = df['SchoolScore'] + df['HospitalScore']

In [18]:
col = '1.a.2'
mx = (df[col]).max()
mn = (df[col]).min()
for j in df.index:
    try:
        data = df[col].iloc[j]
        scaled = (data - mn)/(mx-mn)
        df[col].iloc[j] = scaled*10
    except:
        pass

In [19]:
df['1.4.1'] = df['TotalScore'] * 0.186

In [20]:
col = '1.4.1'
mx = (df[col]).max()
mn = (df[col]).min()
for j in df.index:
    try:
        data = df[col].iloc[j]
        scaled = (data - mn)/(mx-mn)
        df[col].iloc[j] = scaled*10
    except:
        pass

In [21]:
df.columns

Index(['Building', 'lat', 'lon', 'SchoolScore', 'HospitalScore', 'PoliceScore',
       'WasteManagementScore', 'ElderlyCareScore', 'ChildCareScore',
       'OpenAreaScore', 'FisheriesScore', 'TotalScore',
       'District/Area/Building Group', 'Region', 'District', 'TotalPopulation',
       'Working population', 'length', 'Income', '1-3', '4', '5+',
       'Managers and administrators', 'Born in Hong Kong',
       'Import/export, wholesale and retail trades, accommodation and food services',
       'NonWorkingPopulation',
       'Public administration, education, human health and social work activities, miscellaneous social and personal services',
       'Studying and living  in the same District Council district', '15 - 39',
       'Manufacturing, construction, and other industries',
       'Elementary occupations , skilled agricultural and fishery workers and occupations not classifiable',
       'WorkingHours', 'Bus', 'LightBus', 'geocode', 'Address', '1.1.1',
       '1.2.1', '1.4.1', '1.a.2', 'Male', 'Female'],
      dtype='object')

In [22]:
df = df[['District/Area/Building Group', 'Building', 'lat', 'lon', 'Region', 'NonWorkingPopulation', 'Born in Hong Kong', 
       'District', 'TotalPopulation', 'Working population', 'Male', 'Female', 'Income','OpenAreaScore', 'WasteManagementScore', 'HospitalScore', 'SchoolScore', 'Managers and administrators',
        'FisheriesScore', 'PoliceScore','ElderlyCareScore', 'ChildCareScore', 
         'Elementary occupations , skilled agricultural and fishery workers and occupations not classifiable',
         'Manufacturing, construction, and other industries', 'Bus', 'LightBus', 
         'Public administration, education, human health and social work activities, miscellaneous social and personal services',
        '1-3', '4', '5+', 'Studying and living  in the same District Council district', 'WorkingHours', '15 - 39', '1.1.1',
       '1.2.1', '1.4.1', '1.a.2']]

In [23]:
df['2.3.2'] = None
df['SDG2'] = None

In [24]:
for i in df.index:
    df['Elementary occupations , skilled agricultural and fishery workers and occupations not classifiable'].iloc[i] = df['Elementary occupations , skilled agricultural and fishery workers and occupations not classifiable'].iloc[i][: -1]
    df['Public administration, education, human health and social work activities, miscellaneous social and personal services'].iloc[i] = df['Public administration, education, human health and social work activities, miscellaneous social and personal services'].iloc[i][: -1]
    df['Studying and living  in the same District Council district'].iloc[i] = df['Studying and living  in the same District Council district'].iloc[i][:-1]
    df['Managers and administrators'].iloc[i] = df['Managers and administrators'].iloc[i][:-1]
    df['WorkingHours'].iloc[i] = df['WorkingHours'].iloc[i][:-5]
    df['NonWorkingPopulation'].iloc[i] = df['NonWorkingPopulation'].iloc[i][:-1]
    df['15 - 39'].iloc[i] = df['15 - 39'].iloc[i][:-1]
    df['Manufacturing, construction, and other industries'].iloc[i] = df['Manufacturing, construction, and other industries'].iloc[i][:-1]
    df['Born in Hong Kong'].iloc[i] = df['Born in Hong Kong'].iloc[i][:-1]
    df['Bus'].iloc[i] = df['Bus'].iloc[i][:-1]
    df['LightBus'].iloc[i] = df['LightBus'].iloc[i][:-1]

In [25]:
for i in df.columns:
    try:
        df[i] = df[i].astype(float)
    except:
        print('Error')

Error
Error
Error
Error

In [26]:
for i in df.index:
    inc = df['Income'].iloc[i]
    food = df['Elementary occupations , skilled agricultural and fishery workers and occupations not classifiable'].iloc[i]
    food = food/100
    pop = df['Working population'].iloc[i]
    foodpop = food*pop
    a = (inc * foodpop)/pop
    df['2.3.2'].iloc[i] = a

In [27]:
col = '2.3.2'
mx = (df[col]).max()
mn = (df[col]).min()
for j in df.index:
    try:
        data = df[col].iloc[j]
        scaled = (data - mn)/(mx-mn)
        df[col].iloc[j] = scaled*10
    except:
        pass

In [28]:
df['3.b.3'] = df['HospitalScore']

In [29]:
col = '3.b.3'
mx = (df[col]).max()
mn = (df[col]).min()
for j in df.index:
    try:
        data = df[col].iloc[j]
        scaled = (data - mn)/(mx-mn)
        df[col].iloc[j] = scaled*10
    except:
        pass

In [30]:
df['3.c.1'] = None

In [31]:
for i in df.index:
    pop = df['Working population'].iloc[i]
    health = df['Public administration, education, human health and social work activities, miscellaneous social and personal services'].iloc[i]
    a = (pop * health)/100
    df['3.c.1'].iloc[i] = a
    #df['3.c.1'].iloc[i] = df['3.c.1'].iloc[i].round(2)

In [32]:
col = '3.c.1'
mx = (df[col]).max()
mn = (df[col]).min()
for j in df.index:
    try:
        data = df[col].iloc[j]
        scaled = (data - mn)/(mx-mn)
        df[col].iloc[j] = scaled*10
    except:
        pass

In [33]:
df['4.1.1'] = None
df['4.a.1'] = None
df['4.c.1'] = None

In [34]:
for i in df.index:
    study = df['Studying and living  in the same District Council district'].iloc[i]
    pop = df['TotalPopulation'].iloc[i]
    a = (study * pop)/100
    df['4.1.1'].iloc[i] = a

In [35]:
col = '4.1.1'
mx = (df[col]).max()
mn = (df[col]).min()
for j in df.index:
    try:
        data = df[col].iloc[j]
        scaled = (data - mn)/(mx-mn)
        df[col].iloc[j] = scaled*10
    except:
        pass

In [36]:
df['4.a.1'] = df['SchoolScore']

In [37]:
col = '4.a.1'
mx = (df[col]).max()
mn = (df[col]).min()
for j in df.index:
    try:
        data = df[col].iloc[j]
        scaled = (data - mn)/(mx-mn)
        df[col].iloc[j] = scaled*10
    except:
        pass

In [38]:
for i in df.index:
    pop = df['Working population'].iloc[i]
    education = df['Public administration, education, human health and social work activities, miscellaneous social and personal services'].iloc[i]
    a = (pop * education)/100
    df['4.c.1'].iloc[i] = a
    #df['4.c.1'].iloc[i] = df['4.c.1'].iloc[i].round(2)

In [39]:
col = '4.c.1'
mx = (df[col]).max()
mn = (df[col]).min()
for j in df.index:
    try:
        data = df[col].iloc[j]
        scaled = (data - mn)/(mx-mn)
        df[col].iloc[j] = scaled*10
    except:
        pass

In [40]:
#df['IncomeQuartile'] = pd.qcut(df.Income, np.linspace(0,1,11), labels=np.linspace(0.1,1,10))

In [41]:
#df['IncomeQuartile'] = df['IncomeQuartile'].astype(float)

In [42]:
#df['IncomeQuartile'] = np.round(df['IncomeQuartile'],1)

In [43]:
df['5.2.1'] = None
df['5.2.2'] = None
df['5.4.1'] = None
df['5.5.1'] = None
df['5.5.2'] = None

In [44]:
for i in df.index:
    female = df['Female'].iloc[i]
    a = ((female * 13.4)/100) + ((female * 11.7)/100)
    df['5.2.1'].iloc[i] = a

In [45]:
col = '5.2.1'
mx = (df[col]).max()
mn = (df[col]).min()
for j in df.index:
    try:
        data = df[col].iloc[j]
        scaled = (data - mn)/(mx-mn)
        df[col].iloc[j] = scaled*10
    except:
        pass

In [46]:
for i in df.index:
    female = df['Female'].iloc[i]
    a = (female * 11.7)/100
    df['5.2.2'].iloc[i] = a
    #df['5.2.2'].iloc[i] = df['5.2.2'].iloc[i].round(2)

In [47]:
col = '5.2.2'
mx = (df[col]).max()
mn = (df[col]).min()
for j in df.index:
    try:
        data = df[col].iloc[j]
        scaled = (data - mn)/(mx-mn)
        df[col].iloc[j] = scaled*10
    except:
        pass

In [48]:
for i in df.index:
    f = 0.108 * 24
    m = 0.033 * 24
    female = df['Female'].iloc[i] * f
    male = df['Male'].iloc[i] * m
    a = female + male
    df['5.4.1'].iloc[i] = a

In [49]:
col = '5.4.1'
mx = (df[col]).max()
mn = (df[col]).min()
for j in df.index:
    try:
        data = df[col].iloc[j]
        scaled = (data - mn)/(mx-mn)
        df[col].iloc[j] = scaled*10
    except:
        pass

In [50]:
for i in df.index:
    f = df['Female'].iloc[i]
    gov = 0.352
    a = f * gov
    df['5.5.1'].iloc[i] = a

In [51]:
col = '5.5.1'
mx = (df[col]).max()
mn = (df[col]).min()
for j in df.index:
    try:
        data = df[col].iloc[j]
        scaled = (data - mn)/(mx-mn)
        df[col].iloc[j] = scaled*10
    except:
        pass

In [52]:
for i in df.index:
    manager = df['Managers and administrators'].iloc[i]
    female = df['Female'].iloc[i]
    working = df['Working population'].iloc[i]
    female = (female * working)/100
    a = (manager * female)/100
    df['5.5.2'].iloc[i] = a
    #df['5.5.2'].iloc[i] = df['5.5.2'].iloc[i].round(2)

In [53]:
col = '5.5.2'
mx = (df[col]).max()
mn = (df[col]).min()
for j in df.index:
    try:
        data = df[col].iloc[j]
        scaled = (data - mn)/(mx-mn)
        df[col].iloc[j] = scaled*10
    except:
        pass

In [54]:
df['6.1.1'] = None
df['6.3.1'] = None

In [55]:
for i in df.index:
    pop = df['TotalPopulation'].iloc[i]
    a = 10
    b = 0.91
    b = (pop * b)
    df['6.1.1'].iloc[i] = a
    df['6.3.1'].iloc[i] = b
    #df['6.3.1'].iloc[i] = df['6.3.1'].iloc[i].round(2)

In [56]:
col = '6.3.1'
mx = (df[col]).max()
mn = (df[col]).min()
for j in df.index:
    try:
        data = df[col].iloc[j]
        scaled = (data - mn)/(mx-mn)
        df[col].iloc[j] = scaled*10
    except:
        pass

In [57]:
df['7.1.1'] = None

In [58]:
for i in df.index:
    a = 10
    df['7.1.1'].iloc[i] = a

In [59]:
df['8.3.1'] = None
df['8.5.1'] = None
df['8.5.2'] = None
df['8.6.1'] = None

In [60]:
for i in df.index:
    working = df['Working population'].iloc[i]
    informal = df['Elementary occupations , skilled agricultural and fishery workers and occupations not classifiable'].iloc[i]
    a = (working * informal)/100
    df['8.3.1'].iloc[i] = a
    #df['8.3.1'].iloc[i] = df['8.3.1'].iloc[i].round(2)

In [61]:
col = '8.3.1'
mx = (df[col]).max()
mn = (df[col]).min()
for j in df.index:
    try:
        data = df[col].iloc[j]
        scaled = (data - mn)/(mx-mn)
        df[col].iloc[j] = scaled*10
    except:
        pass

In [62]:
for i in df.index:
    workinghours = df['WorkingHours'].iloc[i]
    #pop = df['Working population'].iloc[i]
    income = df['Income'].iloc[i]
    a = income/workinghours
    df['8.5.1'].iloc[i] = a
    #df['8.5.1'].iloc[i] = df['8.5.1'].iloc[i].round(2)

In [63]:
col = '8.5.1'
mx = (df[col]).max()
mn = (df[col]).min()
for j in df.index:
    try:
        data = df[col].iloc[j]
        scaled = (data - mn)/(mx-mn)
        df[col].iloc[j] = scaled*10
    except:
        pass

In [64]:
for i in df.index:
    not_working = df['NonWorkingPopulation'].iloc[i]
    pop = df['TotalPopulation'].iloc[i]
    a = (not_working * pop)/100
    df['8.5.2'].iloc[i] = a
    #df['8.5.2'].iloc[i] = df['8.5.2'].iloc[i].round(2)

In [65]:
col = '8.5.2'
mx = (df[col]).max()
mn = (df[col]).min()
for j in df.index:
    try:
        data = df[col].iloc[j]
        scaled = (data - mn)/(mx-mn)
        df[col].iloc[j] = scaled*10
    except:
        pass

In [66]:
for i in df.index:
    not_working = df['NonWorkingPopulation'].iloc[i]
    age_range = df['15 - 39'].iloc[i]
    people = (not_working * age_range)/100
    people = (people * 10)/25
    df['8.6.1'].iloc[i] = people
    #df['8.6.1'].iloc[i] = df['8.6.1'].iloc[i].round(2)

In [67]:
col = '8.6.1'
mx = (df[col]).max()
mn = (df[col]).min()
for j in df.index:
    try:
        data = df[col].iloc[j]
        scaled = (data - mn)/(mx-mn)
        df[col].iloc[j] = scaled*10
    except:
        pass

In [68]:
df['9.2.2'] = None

In [69]:
for i in df.index:
    working = df['Working population'].iloc[i]
    manufacturing = df['Manufacturing, construction, and other industries'].iloc[i]
    people = (working * manufacturing)/100
    a = people/working
    df['9.2.2'].iloc[i] = a

In [70]:
col = '9.2.2'
mx = (df[col]).max()
mn = (df[col]).min()
for j in df.index:
    try:
        data = df[col].iloc[j]
        scaled = (data - mn)/(mx-mn)
        df[col].iloc[j] = scaled*10
    except:
        pass

In [71]:
df['10.2.1'] = None
df['10.7.4'] = None

In [72]:
median = df['Income'].mean()
median = median/2
median = round(median,2)

In [73]:
for i in df.index:
    inc = df['Income'].iloc[i]
    if inc<=median:
        a = df['TotalPopulation'].iloc[i]
    else:
        a = 0
    a = 0-a
    df['10.2.1'].iloc[i] = a

In [74]:
col = '10.2.1'
mx = (df[col]).max()
mn = (df[col]).min()
for j in df.index:
    try:
        data = df[col].iloc[j]
        scaled = (data - mn)/(mx-mn)
        df[col].iloc[j] = scaled*10
    except:
        pass

In [75]:
for i in df.index:
    bornhk = df['Born in Hong Kong'].iloc[i]
    nothk = 100 - bornhk
    pop = df['TotalPopulation'].iloc[i]
    a = (nothk * pop)/100
    df['10.7.4'].iloc[i] = a
    #df['10.7.4'].iloc[i] = df['10.7.4'].iloc[i].round(2)

In [76]:
col = '10.7.4'
mx = (df[col]).max()
mn = (df[col]).min()
for j in df.index:
    try:
        data = df[col].iloc[j]
        scaled = (data - mn)/(mx-mn)
        df[col].iloc[j] = scaled*10
    except:
        pass

In [77]:
df['11.2.1'] = None
df['11.6.1'] = None
df['11.7.1'] = None

In [78]:
for i in df.index:
    bus = df['Bus'].iloc[i]
    lightbus = df['LightBus'].iloc[i]
    public = bus + lightbus
    working = df['Working population'].iloc[i]
    a = (working * public)/100
    a = a/working
    df['11.2.1'].iloc[i] = a

In [79]:
col = '11.2.1'
mx = (df[col]).max()
mn = (df[col]).min()
for j in df.index:
    try:
        data = df[col].iloc[j]
        scaled = (data - mn)/(mx-mn)
        df[col].iloc[j] = scaled*10
    except:
        pass

In [80]:
df['11.6.1'] = df['WasteManagementScore']

In [81]:
col = '11.6.1'
mx = (df[col]).max()
mn = (df[col]).min()
for j in df.index:
    try:
        data = df[col].iloc[j]
        scaled = (data - mn)/(mx-mn)
        df[col].iloc[j] = scaled*10
    except:
        pass

In [82]:
df['11.7.1'] = df['OpenAreaScore']

In [83]:
col = '11.7.1'
mx = (df[col]).max()
mn = (df[col]).min()
for j in df.index:
    try:
        data = df[col].iloc[j]
        scaled = (data - mn)/(mx-mn)
        df[col].iloc[j] = scaled*10
    except:
        pass

In [84]:
df['12.5.1'] = None

In [85]:
for i in df.index:
    wastemgmt = df['WasteManagementScore'].iloc[i]
    recycled = 0.31
    a = wastemgmt * recycled
    df['12.5.1'].iloc[i] = a

In [86]:
col = '12.5.1'
mx = (df[col]).max()
mn = (df[col]).min()
for j in df.index:
    try:
        data = df[col].iloc[j]
        scaled = (data - mn)/(mx-mn)
        df[col].iloc[j] = scaled*10
    except:
        pass

In [87]:
df['13.1.1'] = None

In [88]:
for i in df.index:
    pop = df['TotalPopulation'].iloc[i]
    missing = 55/100000
    a = pop*missing
    df['13.1.1'].iloc[i] = a

In [89]:
col = '13.1.1'
mx = (df[col]).max()
mn = (df[col]).min()
for j in df.index:
    try:
        data = df[col].iloc[j]
        scaled = (data - mn)/(mx-mn)
        df[col].iloc[j] = scaled*10
    except:
        pass

In [90]:
df['14.7.1'] = df['FisheriesScore']

In [91]:
col = '14.7.1'
mx = (df[col]).max()
mn = (df[col]).min()
for j in df.index:
    try:
        data = df[col].iloc[j]
        scaled = (data - mn)/(mx-mn)
        df[col].iloc[j] = scaled*10
    except:
        pass

In [92]:
df['15.1.1'] = 0.23
df['15.1.2'] = df['FisheriesScore']
df['15.4.2'] = 10

In [93]:
col = '15.1.2'
mx = (df[col]).max()
mn = (df[col]).min()
for j in df.index:
    try:
        data = df[col].iloc[j]
        scaled = (data - mn)/(mx-mn)
        df[col].iloc[j] = scaled*10
    except:
        pass

In [94]:
df['16.1.1'] = None
df['16.1.2'] = None
df['16.2.3'] = None

In [95]:
for i in df.index:
    homocide = 0.64/100000
    pop = df['TotalPopulation'].iloc[i]
    a = homocide*pop
    a = 0-a
    df['16.1.1'].iloc[i] = a

In [96]:
col = '16.1.1'
mx = (df[col]).max()
mn = (df[col]).min()
for j in df.index:
    try:
        data = df[col].iloc[j]
        scaled = (data - mn)/(mx-mn)
        df[col].iloc[j] = scaled*10
    except:
        pass

In [97]:
for i in df.index:
    conflict = 940/100000
    pop = df['TotalPopulation'].iloc[i]
    a = conflict*pop
    a = 0-a
    df['16.1.2'].iloc[i] = a

In [98]:
col = '16.1.2'
mx = (df[col]).max()
mn = (df[col]).min()
for j in df.index:
    try:
        data = df[col].iloc[j]
        scaled = (data - mn)/(mx-mn)
        df[col].iloc[j] = scaled*10
    except:
        pass

In [99]:
for i in df.index:
    sexualviolence = 0.01/100000
    pop = df['TotalPopulation'].iloc[i]
    a = sexualviolence*pop
    a = 0-a
    df['16.2.3'].iloc[i] = a

In [100]:
col = '16.2.3'
mx = (df[col]).max()
mn = (df[col]).min()
for j in df.index:
    try:
        data = df[col].iloc[j]
        scaled = (data - mn)/(mx-mn)
        df[col].iloc[j] = scaled*10
    except:
        pass

In [101]:
df['17.6.1'] = None
df['17.8.1'] = None

In [102]:
for i in df.index:
    broadband = 38.94/100
    pop = df['TotalPopulation'].iloc[i]
    a = broadband * pop
    df['17.6.1'].iloc[i] = a

In [103]:
col = '17.6.1'
mx = (df[col]).max()
mn = (df[col]).min()
for j in df.index:
    try:
        data = df[col].iloc[j]
        scaled = (data - mn)/(mx-mn)
        df[col].iloc[j] = scaled*10
    except:
        pass

In [104]:
for i in df.index:
    internet = 0.93
    pop = df['TotalPopulation'].iloc[i]
    a = internet * pop
    df['17.8.1'].iloc[i] = a

In [105]:
col = '17.8.1'
mx = (df[col]).max()
mn = (df[col]).min()
for j in df.index:
    try:
        data = df[col].iloc[j]
        scaled = (data - mn)/(mx-mn)
        df[col].iloc[j] = scaled*10
    except:
        pass

In [106]:
#df.columns[70]

In [107]:
'''for i in range(33, 70):
    col = df.columns[i]
    mx = (df[col]).max()
    mn = (df[col]).min()
    for j in df.index:
        try:
            data = df[col].iloc[j]
            scaled = (data - mn)/(mx-mn)
            df[col].iloc[j] = scaled*10
        except:
            pass'''

'for i in range(33, 70):\n    col = df.columns[i]\n    mx = (df[col]).max()\n    mn = (df[col]).min()\n    for j in df.index:\n        try:\n            data = df[col].iloc[j]\n            scaled = (data - mn)/(mx-mn)\n            df[col].iloc[j] = scaled*10\n        except:\n            pass'

In [108]:
df['SDG1'] = None
df['SDG2'] = None
df['SDG3'] = None
df['SDG4'] = None
df['SDG5'] = None
df['SDG6'] = None
df['SDG7'] = None
df['SDG8'] = None
df['SDG9'] = None
df['SDG10'] = None
df['SDG11'] = None
df['SDG12'] = None
df['SDG13'] = None
df['SDG14'] = None
df['SDG15'] = None
df['SDG16'] = None
df['SDG17'] = None

In [109]:
'''df['SDG1'] = (df['1.1.1'] + df['1.2.1'] + df['1.4.1'] + df['1.a.2'])/4
df['SDG2'] = df['2.3.2']
df['SDG3'] = (df['3.b.3'] + df['3.c.1'])/2
df['SDG4'] = (df['4.1.1'] + df['4.a.1'] + df['4.c.1'])/3
df['SDG5'] = (df['5.2.1'] + df['5.2.2'] + df['5.4.1'] + df['5.5.1'] + df['5.5.2'])/5
df['SDG6'] = (df['6.1.1'] + df['6.3.1'])/2
df['SDG7'] = df['7.1.1']
df['SDG8'] = (df['8.3.1'] + df['8.5.1'] + df['8.5.2'] + df['8.6.1'])/4
df['SDG9'] = df['9.2.2']
df['SDG10'] = (df['10.2.1'] + df['10.7.4'])/2
df['SDG11'] = (df['11.2.1'] + df['11.6.1'] + df['11.7.1'])/3
df['SDG12'] = df['12.5.1']
df['SDG13'] = df['13.1.1']
df['SDG14'] = df['14.7.1']
df['SDG15'] = (df['15.1.1'] + df['15.1.2'] + df['15.4.2'])/3
df['SDG16'] = (df['16.1.1'] + df['16.1.2'] + df['16.2.3'])/3
df['SDG17'] = (df['17.6.1'] + df['17.8.1'])/2'''

"df['SDG1'] = (df['1.1.1'] + df['1.2.1'] + df['1.4.1'] + df['1.a.2'])/4\ndf['SDG2'] = df['2.3.2']\ndf['SDG3'] = (df['3.b.3'] + df['3.c.1'])/2\ndf['SDG4'] = (df['4.1.1'] + df['4.a.1'] + df['4.c.1'])/3\ndf['SDG5'] = (df['5.2.1'] + df['5.2.2'] + df['5.4.1'] + df['5.5.1'] + df['5.5.2'])/5\ndf['SDG6'] = (df['6.1.1'] + df['6.3.1'])/2\ndf['SDG7'] = df['7.1.1']\ndf['SDG8'] = (df['8.3.1'] + df['8.5.1'] + df['8.5.2'] + df['8.6.1'])/4\ndf['SDG9'] = df['9.2.2']\ndf['SDG10'] = (df['10.2.1'] + df['10.7.4'])/2\ndf['SDG11'] = (df['11.2.1'] + df['11.6.1'] + df['11.7.1'])/3\ndf['SDG12'] = df['12.5.1']\ndf['SDG13'] = df['13.1.1']\ndf['SDG14'] = df['14.7.1']\ndf['SDG15'] = (df['15.1.1'] + df['15.1.2'] + df['15.4.2'])/3\ndf['SDG16'] = (df['16.1.1'] + df['16.1.2'] + df['16.2.3'])/3\ndf['SDG17'] = (df['17.6.1'] + df['17.8.1'])/2"

In [110]:
for i in df.index:
    df['SDG1'].iloc[i] = df['1.1.1'].iloc[i] + df['1.2.1'].iloc[i] + df['1.4.1'].iloc[i] + df['1.a.2'].iloc[i]
    df['SDG2'].iloc[i] = df['2.3.2'].iloc[i]
    df['SDG3'].iloc[i] = df['3.b.3'].iloc[i] + df['3.c.1'].iloc[i]
    df['SDG4'].iloc[i] = df['4.1.1'].iloc[i] + df['4.a.1'].iloc[i] + df['4.c.1'].iloc[i]
    df['SDG5'].iloc[i] = df['5.2.1'].iloc[i] + df['5.2.2'].iloc[i] + df['5.4.1'].iloc[i] + df['5.5.1'].iloc[i] + df['5.5.2'].iloc[i]
    df['SDG6'].iloc[i] = df['6.1.1'].iloc[i] + df['6.3.1'].iloc[i]
    df['SDG7'].iloc[i] = df['7.1.1'].iloc[i]
    df['SDG8'].iloc[i] = df['8.3.1'].iloc[i] + df['8.5.1'].iloc[i] + df['8.5.2'].iloc[i] + df['8.6.1'].iloc[i]
    df['SDG9'].iloc[i] = df['9.2.2'].iloc[i]
    df['SDG10'].iloc[i] = df['10.2.1'].iloc[i] + df['10.7.4'].iloc[i]
    df['SDG11'].iloc[i] = df['11.2.1'].iloc[i] + df['11.6.1'].iloc[i] + df['11.7.1'].iloc[i]
    df['SDG12'].iloc[i] = df['12.5.1'].iloc[i]
    df['SDG13'].iloc[i] = df['13.1.1'].iloc[i]
    df['SDG14'].iloc[i] = df['14.7.1'].iloc[i]
    df['SDG15'].iloc[i] = df['15.1.1'].iloc[i] + df['15.1.2'].iloc[i] + df['15.4.2'].iloc[i]
    df['SDG16'].iloc[i] = df['16.1.1'].iloc[i] + df['16.1.2'].iloc[i] + df['16.2.3'].iloc[i]
    df['SDG17'].iloc[i] = df['17.6.1'].iloc[i] + df['17.8.1'].iloc[i]

In [111]:
'''df['SDG1'] = df['1.1.1'] + df['1.2.1'] + df['1.4.1'] + df['1.a.2']
df['SDG2'] = df['2.3.2']
df['SDG3'] = df['3.b.3'] + df['3.c.1']
df['SDG4'] = df['4.1.1'] + df['4.a.1'] + df['4.c.1']
df['SDG5'] = df['5.2.1'] + df['5.2.2'] + df['5.4.1'] + df['5.5.1'] + df['5.5.2']
df['SDG6'] = df['6.1.1'] + df['6.3.1']
df['SDG7'] = df['7.1.1']
df['SDG8'] = df['8.3.1'] + df['8.5.1'] + df['8.5.2'] + df['8.6.1']
df['SDG9'] = df['9.2.2']
df['SDG10'] = df['10.2.1'] + df['10.7.4']
df['SDG11'] = df['11.2.1'] + df['11.6.1'] + df['11.7.1']
df['SDG12'] = df['12.5.1']
df['SDG13'] = df['13.1.1']
df['SDG14'] = df['14.7.1']
df['SDG15'] = df['15.1.1'] + df['15.1.2'] + df['15.4.2']
df['SDG16'] = df['16.1.1'] + df['16.1.2'] + df['16.2.3']
df['SDG17'] = df['17.6.1'] + df['17.8.1']'''

"df['SDG1'] = df['1.1.1'] + df['1.2.1'] + df['1.4.1'] + df['1.a.2']\ndf['SDG2'] = df['2.3.2']\ndf['SDG3'] = df['3.b.3'] + df['3.c.1']\ndf['SDG4'] = df['4.1.1'] + df['4.a.1'] + df['4.c.1']\ndf['SDG5'] = df['5.2.1'] + df['5.2.2'] + df['5.4.1'] + df['5.5.1'] + df['5.5.2']\ndf['SDG6'] = df['6.1.1'] + df['6.3.1']\ndf['SDG7'] = df['7.1.1']\ndf['SDG8'] = df['8.3.1'] + df['8.5.1'] + df['8.5.2'] + df['8.6.1']\ndf['SDG9'] = df['9.2.2']\ndf['SDG10'] = df['10.2.1'] + df['10.7.4']\ndf['SDG11'] = df['11.2.1'] + df['11.6.1'] + df['11.7.1']\ndf['SDG12'] = df['12.5.1']\ndf['SDG13'] = df['13.1.1']\ndf['SDG14'] = df['14.7.1']\ndf['SDG15'] = df['15.1.1'] + df['15.1.2'] + df['15.4.2']\ndf['SDG16'] = df['16.1.1'] + df['16.1.2'] + df['16.2.3']\ndf['SDG17'] = df['17.6.1'] + df['17.8.1']"

In [112]:
df.columns

Index(['District/Area/Building Group', 'Building', 'lat', 'lon', 'Region',
       'NonWorkingPopulation', 'Born in Hong Kong', 'District',
       'TotalPopulation', 'Working population', 'Male', 'Female', 'Income',
       'OpenAreaScore', 'WasteManagementScore', 'HospitalScore', 'SchoolScore',
       'Managers and administrators', 'FisheriesScore', 'PoliceScore',
       'ElderlyCareScore', 'ChildCareScore',
       'Elementary occupations , skilled agricultural and fishery workers and occupations not classifiable',
       'Manufacturing, construction, and other industries', 'Bus', 'LightBus',
       'Public administration, education, human health and social work activities, miscellaneous social and personal services',
       '1-3', '4', '5+',
       'Studying and living  in the same District Council district',
       'WorkingHours', '15 - 39', '1.1.1', '1.2.1', '1.4.1', '1.a.2', '2.3.2',
       'SDG2', '3.b.3', '3.c.1', '4.1.1', '4.a.1', '4.c.1', '5.2.1', '5.2.2',
       '5.4.1', '5.5.1', '5.5.2', '6.1.1', '6.3.1', '7.1.1', '8.3.1', '8.5.1',
       '8.5.2', '8.6.1', '9.2.2', '10.2.1', '10.7.4', '11.2.1', '11.6.1',
       '11.7.1', '12.5.1', '13.1.1', '14.7.1', '15.1.1', '15.1.2', '15.4.2',
       '16.1.1', '16.1.2', '16.2.3', '17.6.1', '17.8.1', 'SDG1', 'SDG3',
       'SDG4', 'SDG5', 'SDG6', 'SDG7', 'SDG8', 'SDG9', 'SDG10', 'SDG11',
       'SDG12', 'SDG13', 'SDG14', 'SDG15', 'SDG16', 'SDG17'],
      dtype='object')

In [113]:
df_final = df[['District/Area/Building Group', 'Building', 'lat', 'lon', 'Region',
       'District', 'TotalPopulation', 'Working population', 'Male', 'Female', 'Income', 'WasteManagementScore', 'HospitalScore',
        'SchoolScore', 'PoliceScore', 'ElderlyCareScore', 'ChildCareScore', 'SDG1', 'SDG2', 'SDG3',
       'SDG4', 'SDG5', 'SDG6', 'SDG7', 'SDG8', 'SDG9', 'SDG10', 'SDG11',
       'SDG12', 'SDG13', 'SDG14', 'SDG15', 'SDG16', 'SDG17']]

In [114]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6983 entries, 0 to 6982
Data columns (total 34 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   District/Area/Building Group  6983 non-null   object
 1   Building                      6983 non-null   object
 2   lat                           6983 non-null   float64
 3   lon                           6983 non-null   float64
 4   Region                        6983 non-null   object
 5   District                      6983 non-null   object
 6   TotalPopulation               6983 non-null   float64
 7   Working population            6983 non-null   float64
 8   Male                          6983 non-null   float64
 9   Female                        6983 non-null   float64
 10  Income                        6983 non-null   float64
 11  WasteManagementScore          6983 non-null   float64
 12  HospitalScore                 6983 non-null   float64
 13  SchoolScore                   6983 non-null   float64
 14  PoliceScore                   6983 non-null   float64
 15  ElderlyCareScore              6983 non-null   float64
 16  ChildCareScore                6983 non-null   float64
 17  SDG1                          6983 non-null   object
 18  SDG2                          6983 non-null   object
 19  SDG3                          6983 non-null   object
 20  SDG4                          6983 non-null   object
 21  SDG5                          6983 non-null   object
 22  SDG6                          6983 non-null   object
 23  SDG7                          6983 non-null   object
 24  SDG8                          6983 non-null   object
 25  SDG9                          6983 non-null   object
 26  SDG10                         6983 non-null   object
 27  SDG11                         6983 non-null   object
 28  SDG12                         6983 non-null   object
 29  SDG13                         6983 non-null   object
 30  SDG14                         6983 non-null   object
 31  SDG15                         6983 non-null   object
 32  SDG16                         6983 non-null   object
 33  SDG17                         6983 non-null   object
dtypes: float64(13), object(21)
memory usage: 1.8+ MB

In [115]:
df_final['Overall SDG Score'] = None

In [116]:
df_final.columns[17]

'SDG1'

In [117]:
df_final.columns[34]

'Overall SDG Score'

In [118]:
scale = [1,3,4,5,6,8,10,11,15,16,17]

In [119]:
for i in range(11, 34):
    col = df_final.columns[i]
    mx = (df_final[col]).max()
    mn = (df_final[col]).min()
    for j in df_final.index:
        try:
            data = df_final[col].iloc[j]
            scaled = (data - mn)/(mx-mn)
            df_final[col].iloc[j] = scaled*10
        except:
            pass

In [120]:
df_final.columns[34]

'Overall SDG Score'

In [121]:
for i in df_final.index:
    a = 0
    for j in range(17,34):
        col = df_final.columns[j]
        val = df_final[col].iloc[i]
        df_final['Overall SDG Score'].iloc[i] = a + val
        a = a + val

In [122]:
'''for i in range(6, 23):
    col = df_final.columns[i]
    for j in df_final.index:
        val = df_final[col].iloc[j]
        df_final['Overall SDG Score'].iloc[j] = a + val'''

"for i in range(6, 23):\n    col = df_final.columns[i]\n    for j in df_final.index:\n        val = df_final[col].iloc[j]\n        df_final['Overall SDG Score'].iloc[j] = a + val"

In [123]:
df_final.head(5)

,District/Area/Building Group,Building,lat,lon,Region,District,TotalPopulation,Working population,Male,Female,...,SDG9,SDG10,SDG11,SDG12,SDG13,SDG14,SDG15,SDG16,SDG17,Overall SDG Score
0,(Tai Po Mid-levels) Provi...(Tai Po Mid-levels...,Providence Peak,22.432130,114.202489,NewTerritories,TaiPo,2115.33,1064.33,913.44,1201.89,...,1.675214,4.670708,1.099451,0.0,0.917651,0.0,0.0,9.082349,0.917651,41.07583
1,(Sha Tau Kok) residential...(Sha Tau Kok) resi...,(Sha Tau Kok) residential buildings,22.531577,114.203240,NewTerritories,North,1523.50,582.00,739.00,784.50,...,4.358974,4.491257,3.228176,0.0,0.647956,0.0,0.0,9.352044,0.647956,40.731088
2,(Yuen Long Southeast) Tow...(Yuen Long Southea...,"(Yuen Long Southeast) Tower 1-5, The Reach (Sh...",22.437429,114.027660,NewTerritories,YuenLong,1841.00,1219.00,756.78,1084.22,...,2.034188,4.440285,1.479581,0.0,0.79264,0.0,0.0,9.20736,0.79264,40.867869
3,(Yuen Long Southeast) Tow...(Yuen Long Southea...,"(Yuen Long Southeast) Tower 10-13, The Reach (...",22.437429,114.027660,NewTerritories,YuenLong,2076.00,1270.00,940.95,1135.05,...,2.820513,4.413008,1.92404,0.0,0.899728,0.0,0.0,9.100272,0.899728,42.002643
4,(Yuen Long Southeast) Gra...(Yuen Long Southea...,(Yuen Long Southeast) Grand Del Sol (Fung Cheu...,22.440560,114.032987,NewTerritories,YuenLong,3696.00,2030.00,1659.64,2036.36,...,1.982906,4.778078,0.807044,0.0,1.637958,0.0,0.0,8.362042,1.637958,45.203146

In [124]:
col = 'Overall SDG Score'
mx = (df_final[col]).max()
mn = (df_final[col]).min()
for j in df_final.index:
    try:
        data = df_final[col].iloc[j]
        scaled = (data - mn)/(mx-mn)
        df_final[col].iloc[j] = scaled*10
    except:
        pass

In [125]:
df_final[df_final['Overall SDG Score'] > 3]

,District/Area/Building Group,Building,lat,lon,Region,District,TotalPopulation,Working population,Male,Female,...,SDG9,SDG10,SDG11,SDG12,SDG13,SDG14,SDG15,SDG16,SDG17,Overall SDG Score
47,(Tuen Mun District) other...(Tuen Mun District...,(Tuen Mun District) other buildings,22.390765,113.972516,NewTerritories,TuenMun,8203.00,2143.00,3612.63,4590.37,...,1.282051,5.634256,1.679681,0.07,3.691785,0.0,0.0,6.308215,3.691785,3.945092
360,(Tsuen Wan District) vill...(Tsuen Wan Distric...,(Tsuen Wan District) village houses & villas,22.371323,114.114160,NewTerritories,TsuenWan,17151.00,9019.00,7930.03,9220.97,...,2.666667,8.062372,1.935736,0.0,7.769363,0.0,0.0,2.230637,7.769363,7.955555
363,(Tsuen Wan Town Centre) C...(Tsuen Wan Town Ce...,Far East House Phase I & other residential bui...,51.171779,-0.163068,NewTerritories,TsuenWan,323.89,183.11,172.54,151.35,...,8.581197,4.280192,3.64578,4.16,0.101297,3.28,3.28,9.898703,0.101297,3.847592
551,(Repulse Bay) 1950-1970's...(Repulse Bay) 1950...,(Repulse Bay) 1950-1970's private residential ...,22.234504,114.195204,HongKong,Southern,3426.00,1899.00,1391.56,2034.44,...,0.239316,5.738224,1.081907,0.0,1.51492,0.0,0.0,8.48508,1.51492,3.314968
838,(Tai Po Hoi Bun) Low-dens...(Tai Po Hoi Bun) L...,(Tai Po Hoi Bun) Low-density Village Houses,22.442328,114.165521,NewTerritories,TaiPo,11280.00,5946.00,5132.86,6147.14,...,2.393162,6.24856,2.163814,0.0,5.093965,0.0,0.0,4.906035,5.093965,5.752455
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6539,(Lam Tsuen) Low-density r...(Lam Tsuen) Low-de...,Village Houses,22.469651,114.151003,NewTerritories,TaiPo,10233.50,5279.50,4695.89,5537.61,...,2.376068,6.200016,2.128725,0.0,4.617078,0.0,0.0,5.382922,4.617078,5.195901
6542,(Lam Tsuen) Low-density r...(Lam Tsuen) Low-de...,Village Houses,22.329259,114.373883,NewTerritories,TaiPo,10233.50,5279.50,4695.89,5537.61,...,2.376068,6.200016,2.128725,0.0,4.617078,0.0,0.0,5.382922,4.617078,5.191388
6732,(Pak Sha Wan) village hou...(Pak Sha Wan) vill...,villas,22.366785,114.259238,NewTerritories,SaiKung,6297.00,3440.50,2698.71,3598.29,...,1.880342,5.733075,1.879828,0.05,2.823226,0.0,0.0,7.176774,2.823226,3.669018
6781,(Ma Tau Wai) Kau Pui Lung...(Ma Tau Wai) Kau P...,Kiang Su Street,22.317941,114.186424,Kowloon,KowloonCity,196.00,93.33,76.85,119.15,...,1.008547,4.125869,4.76039,0.0,0.043018,0.0,0.0,9.956982,0.043018,3.001479
6882,(Tuen Mun San Hui) Rich B...(Tuen Mun San Hui)...,Kim Po Building,22.403770,113.978529,NewTerritories,TuenMun,314.50,163.00,134.17,180.33,...,1.931624,4.171731,5.094108,4.28,0.097018,3.38,3.38,9.902982,0.097018,3.283898

In [126]:
df_final['SDG15']

0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
6978    0.0
6979    0.0
6980    0.0
6981    0.0
6982    0.0
Name: SDG15, Length: 6983, dtype: object

In [127]:
df_final['Overall SDG Score'].value_counts()

1.556208    12
1.302022    12
1.493402    12
1.122019    12
1.370733    12
            ..
1.804863     1
1.629493     1
2.027373     1
3.724346     1
1.378189     1
Name: Overall SDG Score, Length: 4636, dtype: int64

In [128]:
df_final['Overall SDG Score'].mean()

1.5112552730664794

In [129]:
for i in df_final.columns:
    try:
        df_final[i] = df_final[i].astype(float)
    except:
        print('Error')

Error
Error
Error
Error

In [130]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6983 entries, 0 to 6982
Data columns (total 35 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   District/Area/Building Group  6983 non-null   object
 1   Building                      6983 non-null   object
 2   lat                           6983 non-null   float64
 3   lon                           6983 non-null   float64
 4   Region                        6983 non-null   object
 5   District                      6983 non-null   object
 6   TotalPopulation               6983 non-null   float64
 7   Working population            6983 non-null   float64
 8   Male                          6983 non-null   float64
 9   Female                        6983 non-null   float64
 10  Income                        6983 non-null   float64
 11  WasteManagementScore          6983 non-null   float64
 12  HospitalScore                 6983 non-null   float64
 13  SchoolScore                   6983 non-null   float64
 14  PoliceScore                   6983 non-null   float64
 15  ElderlyCareScore              6983 non-null   float64
 16  ChildCareScore                6983 non-null   float64
 17  SDG1                          6983 non-null   float64
 18  SDG2                          6983 non-null   float64
 19  SDG3                          6983 non-null   float64
 20  SDG4                          6983 non-null   float64
 21  SDG5                          6983 non-null   float64
 22  SDG6                          6983 non-null   float64
 23  SDG7                          6983 non-null   float64
 24  SDG8                          6983 non-null   float64
 25  SDG9                          6983 non-null   float64
 26  SDG10                         6983 non-null   float64
 27  SDG11                         6983 non-null   float64
 28  SDG12                         6983 non-null   float64
 29  SDG13                         6983 non-null   float64
 30  SDG14                         6983 non-null   float64
 31  SDG15                         6983 non-null   float64
 32  SDG16                         6983 non-null   float64
 33  SDG17                         6983 non-null   float64
 34  Overall SDG Score             6983 non-null   float64
dtypes: float64(31), object(4)
memory usage: 1.9+ MB

In [131]:
for i in df_final.columns:
    try:
        col = i
        #print(col)
        df_final[col] = round(df_final[col], 2)
    except:
        print('Error')

Error
Error
Error
Error

In [132]:
df_final['SDG15'].value_counts()

0.00    6800
0.58       8
0.79       8
3.38       6
0.40       5
        ...
0.57       1
3.78       1
1.89       1
3.04       1
0.10       1
Name: SDG15, Length: 97, dtype: int64

In [133]:
df_final.to_csv('SDG_Score.csv', index = False)

In [134]:
df_final.to_csv('SDG_Score_QGIS1.csv', index = False)

In [135]:
#df_final.to_excel('SDG_Score_ISIE_V1.xls', index = False)

In [136]:
df5 = pd.DataFrame()

In [137]:
df5 = df_final[df_final['PoliceScore'] > 0 ]

In [138]:
df5 = df5[df5['HospitalScore'] > 4]

In [139]:
df5 = df5[df5['SchoolScore'] > 0]

In [140]:
df5 = df5[df5['WasteManagementScore'] > 0]

In [141]:
df5 = df5[df5['Overall SDG Score'] > 3]

In [142]:
df5

,District/Area/Building Group,Building,lat,lon,Region,District,TotalPopulation,Working population,Male,Female,...,SDG9,SDG10,SDG11,SDG12,SDG13,SDG14,SDG15,SDG16,SDG17,Overall SDG Score
1214,(Hung Hom) Berkeley Build...(Hung Hom) Berkele...,(Hung Hom) Berkeley Building,22.31,114.19,Kowloon,KowloonCity,173.80,97.80,87.12,86.68,...,1.13,3.95,9.80,3.32,0.03,0.0,0.0,9.97,0.03,3.93
1217,(Hung Hom) Berkeley Build...(Hung Hom) Berkele...,Sang On Building,22.31,114.18,Kowloon,KowloonCity,173.80,97.80,87.12,86.68,...,1.13,3.95,9.80,3.32,0.03,0.0,0.0,9.97,0.03,3.97
1219,(Hung Hom) Berkeley Build...(Hung Hom) Berkele...,Po On Building,22.32,114.17,Kowloon,KowloonCity,173.80,97.80,87.12,86.68,...,1.13,3.95,8.94,1.66,0.03,0.0,0.0,9.97,0.03,3.87
1220,(Hung Hom) Berkeley Build...(Hung Hom) Berkele...,Lux Theatre Building (Bulkeley St,22.31,114.19,Kowloon,KowloonCity,173.80,97.80,87.12,86.68,...,1.13,3.95,9.80,3.32,0.03,0.0,0.0,9.97,0.03,3.89
1226,(Hung Hom) Fok Lin Buildi...(Hung Hom) Fok Lin...,(Hung Hom) Fok Lin Building,22.31,114.18,Kowloon,KowloonCity,176.33,92.11,90.23,86.10,...,0.79,4.16,10.00,3.27,0.03,0.0,0.0,9.97,0.03,3.81
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6344,(Prince Edward) Prince Ed...(Prince Edward) Pr...,Boundary Street,22.32,114.17,Kowloon,YauTsimMong,267.17,153.67,124.83,142.34,...,2.79,4.19,5.70,2.16,0.08,0.0,0.0,9.92,0.08,3.25
6346,(Prince Edward) Prince Ed...(Prince Edward) Pr...,Boundary Street,22.32,114.17,Kowloon,YauTsimMong,243.00,145.29,104.70,138.30,...,2.26,4.13,5.64,2.37,0.06,0.0,0.0,9.94,0.06,3.36
6350,(Prince Edward) Prince Ed...(Prince Edward) Pr...,Boundary Street,22.32,114.17,Kowloon,YauTsimMong,267.17,153.67,124.83,142.34,...,2.79,4.19,5.70,2.16,0.08,0.0,0.0,9.92,0.08,3.25
6352,(Prince Edward) Prince Ed...(Prince Edward) Pr...,Boundary Street,22.32,114.17,Kowloon,YauTsimMong,243.00,145.29,104.70,138.30,...,2.26,4.13,5.64,2.37,0.06,0.0,0.0,9.94,0.06,3.36
6353,(Prince Edward) Prince Ed...(Prince Edward) Pr...,Arran Street Pre-war to 1960's private residen...,22.32,114.17,Kowloon,YauTsimMong,267.17,153.67,124.83,142.34,...,2.79,4.19,5.70,2.16,0.08,0.0,0.0,9.92,0.08,3.25

In [143]:
df5 = df_final[df_final['Building'] == 'Sang On Building']

In [144]:
df5['Female']

1217    86.68
Name: Female, dtype: float64

In [145]:
df5

,District/Area/Building Group,Building,lat,lon,Region,District,TotalPopulation,Working population,Male,Female,...,SDG9,SDG10,SDG11,SDG12,SDG13,SDG14,SDG15,SDG16,SDG17,Overall SDG Score
1217,(Hung Hom) Berkeley Build...(Hung Hom) Berkele...,Sang On Building,22.31,114.18,Kowloon,KowloonCity,173.8,97.8,87.12,86.68,...,1.13,3.95,9.8,3.32,0.03,0.0,0.0,9.97,0.03,3.97

In [146]:
df5.to_csv('B1.csv', index = False)

In [147]:
df5 = pd.read_csv('B1.csv')

In [148]:
df5

,District/Area/Building Group,Building,lat,lon,Region,District,TotalPopulation,Working population,Male,Female,...,SDG9,SDG10,SDG11,SDG12,SDG13,SDG14,SDG15,SDG16,SDG17,Overall SDG Score
0,(Hung Hom) Berkeley Build...(Hung Hom) Berkele...,Sang On Building,22.31,114.18,Kowloon,KowloonCity,173.8,97.8,87.12,86.68,...,1.13,3.95,9.8,3.32,0.03,0.0,0.0,9.97,0.03,3.97

In [149]:
df_final['Overall SDG Score'].mean()

1.511253043104683

In [150]:
df = df[df['District'] == 'KwunTong']

In [151]:
df['WasteManagementScore'].mean()

0.30070615034168563

In [152]:
df_mean = df_final.groupby(by = 'District').mean()

In [153]:
df_mean.to_excel('MeanSDG_V1.xlsx')

In [154]:
df_group = df_final.groupby(by = 'District').mean().round(2)

In [155]:
df_group.to_csv('Group1.csv')

In [156]:
Region = df_final.groupby(by = 'Region').mean().round(2)

In [157]:
Region.to_csv('region.csv')

In [181]:
df_final['SDG10'].mean()

4.214382070743234

In [176]:
df_group

,lat,lon,TotalPopulation,Working population,Male,Female,Income,WasteManagementScore,HospitalScore,SchoolScore,...,SDG9,SDG10,SDG11,SDG12,SDG13,SDG14,SDG15,SDG16,SDG17,Overall SDG Score
District,,,,,,,,,,,,,,,,,,,,,
CentralandWestern,23.12,100.52,451.16,260.81,201.40,249.76,50905.56,0.06,2.16,1.15,...,0.90,4.22,1.31,0.06,0.16,0.01,0.01,9.84,0.16,1.36
Eastern,23.55,96.32,802.56,429.52,361.30,441.26,34501.23,0.03,1.04,1.07,...,1.48,4.22,1.48,0.03,0.32,0.02,0.02,9.68,0.32,1.21
Islands,24.51,94.40,682.94,343.79,321.32,361.62,33136.44,0.20,0.82,0.46,...,2.39,4.21,0.97,0.20,0.26,0.04,0.04,9.74,0.26,1.17
KowloonCity,23.37,104.55,687.40,355.19,312.44,374.96,34886.21,0.47,2.52,1.49,...,1.85,4.19,3.71,0.47,0.27,0.08,0.08,9.73,0.27,2.04
KwaiTsing,22.77,109.48,1489.84,739.23,697.24,792.60,23595.89,0.00,0.57,0.17,...,2.67,4.32,2.51,0.00,0.63,0.00,0.00,9.37,0.63,1.52
KwunTong,23.15,106.35,1186.50,578.04,551.89,634.60,24486.38,0.30,1.13,0.53,...,2.44,4.13,2.44,0.30,0.49,0.03,0.03,9.51,0.49,1.53
North,22.58,112.13,2008.68,960.43,937.07,1071.61,25840.83,0.02,0.22,0.13,...,2.74,4.31,1.64,0.02,0.87,0.00,0.00,9.13,0.87,1.53
SaiKung,22.67,110.81,1942.32,1026.48,897.54,1044.79,30796.95,0.21,0.22,0.22,...,2.24,4.43,1.54,0.21,0.84,0.12,0.12,9.16,0.84,1.58
ShaTin,22.48,108.79,1363.37,697.18,620.16,743.21,36253.10,0.02,0.35,0.29,...,2.05,4.31,2.17,0.02,0.58,0.03,0.03,9.42,0.58,1.39
ShamShuiPo,22.69,110.35,1495.77,762.20,714.19,781.57,21475.10,0.06,0.96,0.85,...,2.73,4.17,1.29,0.06,0.63,0.02,0.02,9.37,0.63,1.47
Southern,23.47,103.58,1067.23,555.78,478.74,588.49,51710.19,0.02,0.55,0.37,...,1.63,4.30,3.11,0.02,0.44,0.00,0.00,9.56,0.44,1.65
TaiPo,22.65,110.92,1297.78,649.40,596.30,701.48,26964.80,0.08,0.48,0.70,...,2.68,4.18,2.13,0.08,0.55,0.05,0.05,9.45,0.55,1.44
TsuenWan,22.77,110.93,927.86,483.11,432.85,495.01,25122.19,0.03,0.94,0.56,...,3.57,4.19,1.83,0.03,0.38,0.02,0.02,9.62,0.38,1.48
TuenMun,23.24,104.35,1438.69,720.67,668.63,770.07,25975.61,0.81,0.25,0.19,...,2.65,4.20,2.69,0.81,0.61,0.29,0.29,9.39,0.61,1.67
WanChai,23.16,100.76,450.77,263.52,197.17,253.60,44477.67,0.08,2.02,1.45,...,1.20,4.20,1.69,0.08,0.16,0.14,0.14,9.84,0.16,1.48
WongTaiSin,22.58,110.37,1138.30,556.87,528.39,609.91,24371.93,0.01,1.37,0.47,...,2.38,4.19,1.97,0.01,0.47,0.00,0.00,9.53,0.47,1.41
YauTsimMong,23.40,98.74,459.68,242.44,212.28,247.40,22818.24,0.32,2.84,1.43,...,2.12,4.17,1.74,0.32,0.16,0.02,0.02,9.84,0.16,1.58
YuenLong,23.05,106.75,1415.58,693.02,659.67,755.91,23789.60,0.12,0.35,0.59,...,2.99,4.24,1.84,0.12,0.60,0.10,0.10,9.40,0.60,1.49

In [159]:
df_final['SDG1']

0       3.77
1       3.77
2       3.87
3       3.85
4       3.80
        ...
6978    3.79
6979    3.84
6980    3.84
6981    3.80
6982    3.85
Name: SDG1, Length: 6983, dtype: float64

In [160]:
def gini_coefficient(x):
    """Compute Gini coefficient of array of values"""
    diffsum = 0
    for i, xi in enumerate(x[:-1], 1):
        diffsum += np.sum(np.abs(xi - x[i:]))
    return diffsum / (len(x)**2 * np.mean(x))

In [161]:
df_gini = pd.DataFrame(index = [0])

In [162]:
df_gini['SDG1'] = None
df_gini['SDG2'] = None
df_gini['SDG3'] = None
df_gini['SDG4'] = None
df_gini['SDG5'] = None
df_gini['SDG6'] = None
df_gini['SDG7'] = None
df_gini['SDG8'] = None
df_gini['SDG9'] = None
df_gini['SDG10'] = None
df_gini['SDG11'] = None
df_gini['SDG12'] = None
df_gini['SDG13'] = None
df_gini['SDG14'] = None
df_gini['SDG15'] = None
df_gini['SDG16'] = None
df_gini['SDG17'] = None

In [163]:
df_gini['SDG1'].iloc[0] = gini_coefficient(np.array(list(df_final['SDG1'])))
df_gini['SDG2'].iloc[0] = gini_coefficient(np.array(list(df_final['SDG2'])))
df_gini['SDG3'].iloc[0] = gini_coefficient(np.array(list(df_final['SDG3'])))
df_gini['SDG4'].iloc[0] = gini_coefficient(np.array(list(df_final['SDG4'])))
df_gini['SDG5'].iloc[0] = gini_coefficient(np.array(list(df_final['SDG5'])))
df_gini['SDG6'].iloc[0] = gini_coefficient(np.array(list(df_final['SDG6'])))
df_gini['SDG7'].iloc[0] = gini_coefficient(np.array(list(df_final['SDG7'])))
df_gini['SDG8'].iloc[0] = gini_coefficient(np.array(list(df_final['SDG8'])))
df_gini['SDG9'].iloc[0] = gini_coefficient(np.array(list(df_final['SDG9'])))
df_gini['SDG10'].iloc[0] = gini_coefficient(np.array(list(df_final['SDG10'])))
df_gini['SDG11'].iloc[0] = gini_coefficient(np.array(list(df_final['SDG11'])))
df_gini['SDG12'].iloc[0] = gini_coefficient(np.array(list(df_final['SDG12'])))
df_gini['SDG13'].iloc[0] = gini_coefficient(np.array(list(df_final['SDG13'])))
df_gini['SDG14'].iloc[0] = gini_coefficient(np.array(list(df_final['SDG14'])))
df_gini['SDG15'].iloc[0] = gini_coefficient(np.array(list(df_final['SDG15'])))
df_gini['SDG16'].iloc[0] = gini_coefficient(np.array(list(df_final['SDG16'])))
df_gini['SDG17'].iloc[0] = gini_coefficient(np.array(list(df_final['SDG17'])))

In [164]:
for i in df_gini.columns:
    try:
        df_gini[i] = df_gini[i].astype(float)
        df_gini[i] = round(df_gini[i],2)
    except:
        print('Error')

In [165]:
df_regiongini = pd.DataFrame(index = [0,1,2])

In [166]:
df_final['Region'].value_counts()

Kowloon           2878
NewTerritories    2327
HongKong          1778
Name: Region, dtype: int64

In [167]:
kowloon = df_final[df_final['Region'] == 'Kowloon']
nt = df_final[df_final['Region'] == 'NewTerritories']
hk = df_final[df_final['Region'] == 'HongKong']

In [168]:
df_regiongini['Region'] = None
df_regiongini['SDG1'] = None
df_regiongini['SDG2'] = None
df_regiongini['SDG3'] = None
df_regiongini['SDG4'] = None
df_regiongini['SDG5'] = None
df_regiongini['SDG6'] = None
df_regiongini['SDG7'] = None
df_regiongini['SDG8'] = None
df_regiongini['SDG9'] = None
df_regiongini['SDG10'] = None
df_regiongini['SDG11'] = None
df_regiongini['SDG12'] = None
df_regiongini['SDG13'] = None
df_regiongini['SDG14'] = None
df_regiongini['SDG15'] = None
df_regiongini['SDG16'] = None
df_regiongini['SDG17'] = None

In [169]:
df_regiongini['Region'].iloc[0] = 'Kowloon'
df_regiongini['SDG1'].iloc[0] = gini_coefficient(np.array(list(kowloon['SDG1'])))
df_regiongini['SDG2'].iloc[0] = gini_coefficient(np.array(list(kowloon['SDG2'])))
df_regiongini['SDG3'].iloc[0] = gini_coefficient(np.array(list(kowloon['SDG3'])))
df_regiongini['SDG4'].iloc[0] = gini_coefficient(np.array(list(kowloon['SDG4'])))
df_regiongini['SDG5'].iloc[0] = gini_coefficient(np.array(list(kowloon['SDG5'])))
df_regiongini['SDG6'].iloc[0] = gini_coefficient(np.array(list(kowloon['SDG6'])))
df_regiongini['SDG7'].iloc[0] = gini_coefficient(np.array(list(kowloon['SDG7'])))
df_regiongini['SDG8'].iloc[0] = gini_coefficient(np.array(list(kowloon['SDG8'])))
df_regiongini['SDG9'].iloc[0] = gini_coefficient(np.array(list(kowloon['SDG9'])))
df_regiongini['SDG10'].iloc[0] = gini_coefficient(np.array(list(kowloon['SDG10'])))
df_regiongini['SDG11'].iloc[0] = gini_coefficient(np.array(list(kowloon['SDG11'])))
df_regiongini['SDG12'].iloc[0] = gini_coefficient(np.array(list(kowloon['SDG12'])))
df_regiongini['SDG13'].iloc[0] = gini_coefficient(np.array(list(kowloon['SDG13'])))
df_regiongini['SDG14'].iloc[0] = gini_coefficient(np.array(list(kowloon['SDG14'])))
df_regiongini['SDG15'].iloc[0] = gini_coefficient(np.array(list(kowloon['SDG15'])))
df_regiongini['SDG16'].iloc[0] = gini_coefficient(np.array(list(kowloon['SDG16'])))
df_regiongini['SDG17'].iloc[0] = gini_coefficient(np.array(list(kowloon['SDG17'])))

In [170]:
df_regiongini['Region'].iloc[1] = 'New Territories'
df_regiongini['SDG1'].iloc[1] = gini_coefficient(np.array(list(nt['SDG1'])))
df_regiongini['SDG2'].iloc[1] = gini_coefficient(np.array(list(nt['SDG2'])))
df_regiongini['SDG3'].iloc[1] = gini_coefficient(np.array(list(nt['SDG3'])))
df_regiongini['SDG4'].iloc[1] = gini_coefficient(np.array(list(nt['SDG4'])))
df_regiongini['SDG5'].iloc[1] = gini_coefficient(np.array(list(nt['SDG5'])))
df_regiongini['SDG6'].iloc[1] = gini_coefficient(np.array(list(nt['SDG6'])))
df_regiongini['SDG7'].iloc[1] = gini_coefficient(np.array(list(nt['SDG7'])))
df_regiongini['SDG8'].iloc[1] = gini_coefficient(np.array(list(nt['SDG8'])))
df_regiongini['SDG9'].iloc[1] = gini_coefficient(np.array(list(nt['SDG9'])))
df_regiongini['SDG10'].iloc[1] = gini_coefficient(np.array(list(nt['SDG10'])))
df_regiongini['SDG11'].iloc[1] = gini_coefficient(np.array(list(nt['SDG11'])))
df_regiongini['SDG12'].iloc[1] = gini_coefficient(np.array(list(nt['SDG12'])))
df_regiongini['SDG13'].iloc[1] = gini_coefficient(np.array(list(nt['SDG13'])))
df_regiongini['SDG14'].iloc[1] = gini_coefficient(np.array(list(nt['SDG14'])))
df_regiongini['SDG15'].iloc[1] = gini_coefficient(np.array(list(nt['SDG15'])))
df_regiongini['SDG16'].iloc[1] = gini_coefficient(np.array(list(nt['SDG16'])))
df_regiongini['SDG17'].iloc[1] = gini_coefficient(np.array(list(nt['SDG17'])))

In [171]:
df_regiongini['Region'].iloc[2] = 'Hong Kong Island'
df_regiongini['SDG1'].iloc[2] = gini_coefficient(np.array(list(hk['SDG1'])))
df_regiongini['SDG2'].iloc[2] = gini_coefficient(np.array(list(hk['SDG2'])))
df_regiongini['SDG3'].iloc[2] = gini_coefficient(np.array(list(hk['SDG3'])))
df_regiongini['SDG4'].iloc[2] = gini_coefficient(np.array(list(hk['SDG4'])))
df_regiongini['SDG5'].iloc[2] = gini_coefficient(np.array(list(hk['SDG5'])))
df_regiongini['SDG6'].iloc[2] = gini_coefficient(np.array(list(hk['SDG6'])))
df_regiongini['SDG7'].iloc[2] = gini_coefficient(np.array(list(hk['SDG7'])))
df_regiongini['SDG8'].iloc[2] = gini_coefficient(np.array(list(hk['SDG8'])))
df_regiongini['SDG9'].iloc[2] = gini_coefficient(np.array(list(hk['SDG9'])))
df_regiongini['SDG10'].iloc[2] = gini_coefficient(np.array(list(hk['SDG10'])))
df_regiongini['SDG11'].iloc[2] = gini_coefficient(np.array(list(hk['SDG11'])))
df_regiongini['SDG12'].iloc[2] = gini_coefficient(np.array(list(hk['SDG12'])))
df_regiongini['SDG13'].iloc[2] = gini_coefficient(np.array(list(hk['SDG13'])))
df_regiongini['SDG14'].iloc[2] = gini_coefficient(np.array(list(hk['SDG14'])))
df_regiongini['SDG15'].iloc[2] = gini_coefficient(np.array(list(hk['SDG15'])))
df_regiongini['SDG16'].iloc[2] = gini_coefficient(np.array(list(hk['SDG16'])))
df_regiongini['SDG17'].iloc[2] = gini_coefficient(np.array(list(hk['SDG17'])))

In [172]:
for i in df_regiongini.columns:
    try:
        df_regiongini[i] = df_regiongini[i].astype(float)
        df_regiongini[i] = round(df_regiongini[i],2)
    except:
        print('Error')

Error

In [173]:
df_regiongini

,Region,SDG1,SDG2,SDG3,SDG4,SDG5,SDG6,SDG7,SDG8,SDG9,SDG10,SDG11,SDG12,SDG13,SDG14,SDG15,SDG16,SDG17
0,Kowloon,0.10,0.32,0.37,0.30,0.51,0.51,0.0,0.14,0.25,0.06,0.34,0.85,0.51,0.99,0.99,0.02,0.51
1,New Territories,0.05,0.29,0.31,0.31,0.48,0.46,0.0,0.17,0.24,0.07,0.26,0.89,0.46,0.96,0.96,0.03,0.46
2,Hong Kong Island,0.09,0.50,0.38,0.33,0.55,0.56,0.0,0.15,0.33,0.03,0.29,0.97,0.56,0.99,0.99,0.01,0.56

In [174]:
df_regiongini.to_csv('df_regiongini.csv', index = False)